<center>
<h2>Capstone Project</h2>

# <span style='color: #81A5FF; '> ❔ Preparing Questionnaire Data for Predictive Model </span>

<h3> Group 4 </h3>

<span style='color: #081F4F; font-size: 18px;'>2023/2024</span>
</center>

---------

#### INDICE E DESCRIÇÃO

---------

### 1. Importing Libraries and Data

In [2]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

#Predictive model
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

#ignore warnings
import warnings
warnings.filterwarnings("ignore")

%load_ext autoreload
%autoreload 2

In [3]:
#Extracting the AI generated answers
answers = pd.DataFrame()
for personality in os.listdir('data/training_answers/original/'):
    personality_answer = pd.read_csv('data/training_answers/original/' + personality)
    personality_answer['personality'] = personality
    answers = pd.concat([answers,personality_answer])

In [4]:
answers

,Willingness to Try Exotic Foods,Importance of Food Presentation,Value for Money in Meals,Preference for Gourmet Restaurants,Interest in Nutritional Content,Frequency of Eating Home-Cooked Meals,Desire for New Culinary Experiences,Preference for Organic or Diet-Specific Foods,Enjoyment of Traditional or Familiar Foods,Willingness to Spend on High-Quality Ingredients,personality
0,2,3,4,2,3,5,2,3,5,3,comfort_food_lover_responses.csv
1,1,2,3,1,2,4,1,2,4,2,comfort_food_lover_responses.csv
2,2,3,4,2,3,5,2,3,5,3,comfort_food_lover_responses.csv
3,3,2,3,3,2,4,1,4,4,2,comfort_food_lover_responses.csv
4,1,3,4,1,3,5,2,2,5,3,comfort_food_lover_responses.csv
...,...,...,...,...,...,...,...,...,...,...,...
16,5,3,4,4,3,4,5,3,3,3,the_adventurer_responses.csv
17,5,3,3,2,4,3,5,2,3,5,the_adventurer_responses.csv
18,5,4,3,3,3,3,5,3,4,4,the_adventurer_responses.csv
19,4,3,2,4,3,4,5,3,3,2,the_adventurer_responses.csv
20,5,3,3,3,2,3,5,4,2,3,the_adventurer_responses.csv

In [5]:
personality_mapping_names = {}
for personality in list(answers['personality'].unique()):
    name = personality.split('_')
    name_clean = []
    for section in name:
        section = section.capitalize()
        name_clean.append(section)
    name_clean = ' '.join(name_clean)
    name_clean = name_clean[:-4]
    personality_mapping_names[personality] = name_clean

In [6]:
answers['personality'] = answers['personality'].map(personality_mapping_names)

In [7]:
#Extracting the AI augmented answers
answers_aug = pd.DataFrame()
for personality in os.listdir('data/training_answers/aug/'):
    personality_answer = pd.read_csv('data/training_answers/aug/' + personality)
    personality_answer['personality'] = personality
    answers_aug = pd.concat([answers_aug,personality_answer])

In [8]:
answers_aug

,Willingness to Try Exotic Foods,Importance of Food Presentation,Value for Money in Meals,Preference for Gourmet Restaurants,Interest in Nutritional Content,Frequency of Eating Home-Cooked Meals,Desire for New Culinary Experiences,Preference for Organic or Diet-Specific Foods,Enjoyment of Traditional or Familiar Foods,Willingness to Spend on High-Quality Ingredients,personality
0,3,2,4,1,2,4,1,4,4,3,comfort_food_lover_responses_aug.csv
1,1,2,3,1,2,4,1,2,4,2,comfort_food_lover_responses_aug.csv
2,3,2,3,3,2,4,1,4,4,2,comfort_food_lover_responses_aug.csv
3,1,2,3,1,2,4,1,2,4,2,comfort_food_lover_responses_aug.csv
4,2,3,4,2,3,5,2,3,5,3,comfort_food_lover_responses_aug.csv
...,...,...,...,...,...,...,...,...,...,...,...
4995,5,4,3,3,3,3,5,4,4,4,the_adventurer_responses_aug.csv
4996,5,3,3,2,3,2,5,3,3,2,the_adventurer_responses_aug.csv
4997,4,3,3,4,3,4,5,3,3,4,the_adventurer_responses_aug.csv
4998,5,3,3,5,3,3,5,3,2,3,the_adventurer_responses_aug.csv
4999,5,3,3,3,2,3,5,4,2,4,the_adventurer_responses_aug.csv

In [9]:
personality_mapping_names = {}
for personality in list(answers_aug['personality'].unique()):
    name = personality.split('_')
    name_clean = []
    for section in name:
        section = section.capitalize()
        name_clean.append(section)
    name_clean = ' '.join(name_clean)
    name_clean = name_clean[:-8]
    personality_mapping_names[personality] = name_clean

In [10]:
answers_aug['personality'] = answers_aug['personality'].map(personality_mapping_names)

In [11]:
total_answers = pd.concat([answers,answers_aug])

In [12]:
total_answers['personality'].value_counts()

personality
Comfort Food Lover Responses         5021
Conscious Eater Responses            5021
Fine Dining Connoisseur Responses    5021
Low Cost Foodie Responses            5021
The Adventurer Responses             5021
Name: count, dtype: int64

In [13]:
# Export the total_answers to a CSV file
total_answers.to_csv('data/training_answers/total_answers', index=False)

In [19]:
# Import the data with noise
perturbed_total_answers = pd.read_csv('data/training_answers/perturbed_total_answers.csv')

### Build the Predictive Model

In [20]:
# Select all columns except the target
X = perturbed_total_answers.drop(perturbed_total_answers.columns[10], axis=1)

# Select the target
y = perturbed_total_answers.iloc[:, 10]

In [48]:
# Split the dataset into a training set and a testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Create a Decision Tree Classifier
DecisionTree = DecisionTreeClassifier(max_depth=9)

# Train the classifier with the training set
DecisionTree.fit(X_train, y_train)

# Predict the labels of the test set
y_pred = DecisionTree.predict(X_test)

y_pred_train = DecisionTree.predict(X_train)

# Calculate and print the accuracy
accuracy = accuracy_score(y_train, y_pred_train)
print(f"Training Accuracy: {accuracy}")

# Calculate and print the accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Test Accuracy: {accuracy}")

Training Accuracy: 0.7278210891708872
Test Accuracy: 0.7148167817312798