# <span style = 'color: #81A5FF'>  Exploratory Data Analysis and Cleaning </span>

### 1. Importing Libraries and data

In [106]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
#from currency_converter import CurrencyConverter
import datetime
import requests
import random
import re
from sklearn.metrics.pairwise import haversine_distances
from math import radians
# from geopy.geocoders import Nominatim
from functions import *
from locations import *


%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [107]:
data = pd.read_csv('data/alltheforkscrapes2.csv', index_col=0)

C:\Users\carolinashaul\AppData\Local\Temp\ipykernel_19908\2888128206.py:1: DtypeWarning: Columns (292,300,301,302,303,304,305,306,307) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data/alltheforkscrapes2.csv', index_col=0)

In [108]:
data.reset_index(inplace=True)
data.drop(['index'], axis=1, inplace=True)

In [109]:
data

,address,averagePrice,chefName,cuisine,currency,customerPhotos/0,customerPhotos/1,customerPhotos/2,customerPhotos/3,customerPhotos/4,...,photos/96,photos/97,photos/98,photos/99,photos/100,photos/101,photos/102,photos/103,photos/104,photos/105
0,"R. Jos√© Fontana 10,8200-295,Albufeira",14,NaN,International food,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"R. Almeida Garrett 71,8200-272,Albufeira",15,NaN,International food,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"R. da Torre Velha,8200,Albufeira",24,Yana Malayko,Japanese,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Tv. Antero de Quental 4B r/c,8200-296,Albufeira",14,Iqbal Hossain Mohon,Indian,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"R. Alexandre Herculano 11,8200-269,Albufeira",15,Romilson Santos,Portuguese,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2552,"Largo da Cruz Velha,4760-107,Vila Nova de Fama...",15,NaN,Portuguese,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2553,"Alameda C√≥nego Joaquim Fernandes 160,4760-884,...",18,Gatto Ginno,Italian,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2554,"R. Augusto Correia 42,4760-101,Vila Nova de Fa...",16,NaN,Portuguese,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2555,"Av. 25 de Abril 22 4760,4760-101,Vila Nova de ...",25,Miguel Frias,Steakhouse,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2556,"Av. Narciso Ferreira 181,4760-111,Vila Nova de...",13,NaN,Pizzeria,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [110]:
data[data.duplicated()]

,address,averagePrice,chefName,cuisine,currency,customerPhotos/0,customerPhotos/1,customerPhotos/2,customerPhotos/3,customerPhotos/4,...,photos/96,photos/97,photos/98,photos/99,photos/100,photos/101,photos/102,photos/103,photos/104,photos/105
401,"142 Chiswick High Road,W4 1PU,London",81,Nathan Cornwell,British,GBP,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402,"34 Rue Beaurepaire,75010,Paris",45,Masahiro MORIYA,French,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403,"17 Rue Berg√®re,75009,Paris",55,Satoshi HORIUCHI,French,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404,"1 Rue Ambroise Thomas,75009,Paris",80,Florian Barbarot,French,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405,"Carrer de Bala Roja, 1,07001,Palma de Mallorca",150,FERNANDO P. ARELLANO,Mediterranean,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2184,"8200-278,8200-278,Albufeira",25,NaN,Mediterranean,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2185,"R. Torre da Medronheira 1,8200-650,Olhos de √Ågua",15,Tati Justino,Mediterranean,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2186,"Urbaniza√ßao Vila Praia, Rua Torre da Medronhei...",37,Daniel Holdsworth Delgado,European,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2187,"EPIC SANA Algarve Hotel Pinhal do Concelho, Pr...",33,Luis Mourao,Portuguese,EUR,https://res.cloudinary.com/tf-lab/image/upload...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2188,"R. de Dunfermline, Lote 12,8200-284,Albufeira",13,NaN,Mediterranean,EUR,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:
#Drop duplicated rows
data.drop_duplicates(inplace=True, keep='last')

In [112]:
data.reset_index(inplace=True)
data.drop(['index'], axis=1, inplace=True)

### 2. Summary Statistics

In [113]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
averagePrice,1792.0,2.702734e+01,2.429775e+01,9.000000e+00,1.500000e+01,2.000000e+01,2.800000e+01,3.500000e+02
latitude,1792.0,4.038920e+01,4.289454e+00,3.701935e+01,3.867652e+01,3.869686e+01,4.115794e+01,5.340000e+01
longitude,1792.0,-8.151668e+00,1.686299e+00,-9.381659e+00,-9.165105e+00,-8.629105e+00,-8.147684e+00,-2.983333e+00
maxPartySize,1547.0,5.167033e+01,2.674151e+01,4.000000e+00,4.000000e+01,6.000000e+01,6.000000e+01,3.700000e+02
phone,1078.0,3.348657e+11,7.634754e+10,3.314014e+10,3.512189e+11,3.512890e+11,3.519204e+11,4.478807e+11
...,...,...,...,...,...,...,...,...
reviewList/18/serviceRatingValue,1075.0,9.374884e+00,1.440283e+00,2.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01
reviewList/19/ambienceRatingValue,1053.0,9.137702e+00,1.513260e+00,2.000000e+00,8.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01
reviewList/19/foodRatingValue,1053.0,9.327635e+00,1.478607e+00,2.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01
reviewList/19/ratingValue,1053.0,9.291073e+00,1.258068e+00,2.000000e+00,9.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01
reviewList/19/serviceRatingValue,1053.0,9.371320e+00,1.415495e+00,2.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01

In [114]:
data.describe(include='object').T

,count,unique,top,freq
address,1792,1618,"Rua Alexandre O'Neill,8200-343,Albufeira",6
chefName,741,611,Carlos Guerreiro,6
cuisine,1789,56,Portuguese,532
currency,1792,5,EUR,1747
customerPhotos/0,1685,1551,https://res.cloudinary.com/tf-lab/image/upload...,3
...,...,...,...,...
photos/101,1,1,https://res.cloudinary.com/tf-lab/image/upload...,1
photos/102,1,1,https://res.cloudinary.com/tf-lab/image/upload...,1
photos/103,1,1,https://res.cloudinary.com/tf-lab/image/upload...,1
photos/104,1,1,https://res.cloudinary.com/tf-lab/image/upload...,1
photos/105,1,1,https://res.cloudinary.com/tf-lab/image/upload...,1

### 3. Handling Locations

In [115]:
locations = data[['name','address', 'location', 'longitude', 'latitude']].copy()

In [116]:
#Finds last occurence of the address to determine the city
locations['location2'] = locations['address'].map(lambda x: str(x).split(',')[-1])

#Finds the first occurence within "location" to find city -> this was how we eextracted the data
locations['location3'] = locations['location'].map(lambda x: str(x).split(',')[0])

In [117]:
#Finding indexes from observations not based in Portugal and removing them from the original data and creating a new dataframe with only portuguese location info
foreign_indexes = list((locations[(locations['location'].isna())]).index)
data.drop(foreign_indexes, inplace=True, axis=0)
data.reset_index(inplace=True)
data.drop(['index'], axis=1, inplace=True)
pt_locations = locations[locations['location'].isna() == False].copy()
pt_locations.reset_index(inplace=True)
pt_locations.drop(['index'], axis=1, inplace=True)

In [118]:
#Pre processing address to further find latitude and longitude coordinates
pt_locations['address'] = pt_locations['address'].apply(preprocess_address)

In [119]:
# pt_locations[['latitude', 'longitude']] = pt_locations['address'].apply(lambda x: pd.Series(find_coordinates2(x)))

In [120]:
# pt_locations.to_csv('portuguese_locations.csv')

In [121]:
#Step interm√©dio enquanto o notebook nao estiver finalizado
pt_locations2 = pd.read_csv('data/portuguese_locations.csv', index_col=0)
pt_locations[['latitude', 'longitude']] = pt_locations2[['latitude', 'longitude']].copy()

In [122]:
data[['address', 'latitude', 'longitude', 'location', 'city']] = pt_locations[['address', 'latitude', 'longitude', 'location2', 'location3']].copy()

### 4. Handling Missing Values and Standardizing Values

In [123]:
null_columns = data.isnull().any()
null_columns = null_columns[null_columns].index
#list(null_columns)

#### Chef Name

In [124]:
data['chefName'] = np.where(data['chefName'].isnull(), 'Not Applicable', data['chefName'])

In [125]:
import re
data['chefName'] = data['chefName'].str.replace(r'[^A-Za-z\s]', '', regex=True)
data['chefName'] = data['chefName'].str.replace('Chefes', '', case=False).str.strip()
data['chefName'] = data['chefName'].str.replace('Chefe', '', case=False).str.strip()
data['chefName'] = data['chefName'].str.replace('Chef', '', case=False).str.strip()
data['chefName'] = data['chefName'].str.replace('executivos', '', case=False).str.strip()
data['chefName'] = data['chefName'].str.replace('executivo', '', case=False).str.strip()
data['chefName'] = data['chefName'].str.replace('Chefe executivo', '', case=False).str.strip()
data['chefName'] = data['chefName'].str.replace('Chef', '', case=False).str.strip()
data['chefName'] = data['chefName'].str.replace('  ', ' ', case=False).str.strip()
data['chefName'].to_csv('chefs.csv', index=False)

#### Phone Number

In [126]:
data['phone'] = data['phone'].astype(str)
data['phone'] = data['phone'].apply(lambda x: x[3:12] if x != 'nan' else 'Not Available')
data['phone'] = np.where(data['phone'].str.endswith('.'), '966287253', data['phone'])

Aqui falta fazer description, ratingValue, maxPartySize, reviewCount

#### Dealing with Schedule Format

In [127]:
data['openingHours'].fillna('Not Available', inplace=True)

In [128]:
#Clearing the openingHours column
data['schedule'] = data['openingHours'].apply(lambda x: clean_openinghours(x))

#### Generating Promotions

In [129]:
data['promotions'] = data['schedule'].apply(lambda x: promotion_generator(x, 3, 0.5))

### 6. Exploratory Data Analysis (through Sections)

#### 6.1. Photos

In [130]:
photos = ['photo', 'customerPhotos/0','customerPhotos/1', 'customerPhotos/2', 'customerPhotos/3', 'customerPhotos/4', 'customerPhotos/5', 'customerPhotos/6',
 'customerPhotos/7', 'customerPhotos/8', 'customerPhotos/9', 'customerPhotos/10', 'customerPhotos/11', 'customerPhotos/12', 'customerPhotos/13',
 'customerPhotos/14', 'customerPhotos/15', 'customerPhotos/16', 'customerPhotos/17', 'customerPhotos/18', 'customerPhotos/19', 'photos/1',
 'photos/2', 'photos/3', 'photos/4', 'photos/5', 'photos/6', 'photos/7','photos/8','photos/9','photos/10', 'photos/11', 'photos/12', 'photos/13', 'photos/14',
 'photos/15','photos/16', 'photos/17', 'photos/18', 'photos/19', 'photos/20', 'photos/21', 'photos/22', 'photos/23', 'photos/24', 'photos/25', 'photos/26', 'photos/27',
 'photos/28', 'photos/29', 'photos/30', 'photos/31', 'photos/32', 'photos/33', 'photos/34', 'photos/35', 'photos/36', 'photos/37', 'photos/38', 'photos/39', 'photos/40',
 'photos/41', 'photos/42', 'photos/43', 'photos/44', 'photos/45', 'photos/46', 'photos/47', 'photos/48', 'photos/49', 'photos/50', 'photos/51', 'photos/52','photos/53',
 'photos/54', 'photos/55', 'photos/56', 'photos/57', 'photos/58', 'photos/59', 'photos/60', 'photos/61', 'photos/62', 'photos/63', 'photos/64', 'photos/65', 'photos/66',
 'photos/67','photos/68','photos/69', 'photos/70', 'photos/71', 'photos/72', 'photos/73', 'photos/74', 'photos/75', 'photos/76', 'photos/77', 'photos/78', 'photos/79',
 'photos/80', 'photos/81', 'photos/82', 'photos/83', 'photos/84', 'photos/85', 'photos/86', 'photos/87', 'photos/88', 'photos/89', 'photos/90',  'photos/91', 'photos/92',
 'photos/93', 'photos/94', 'photos/95', 'photos/96', 'photos/97', 'photos/98', 'photos/99', 'photos/100', 'photos/101', 'photos/102', 'photos/103', 'photos/104', 'photos/105']

In [131]:
df_photos = data[photos].copy()

In [132]:
df_photos['photos/1'].unique()

array(['https://res.cloudinary.com/tf-lab/image/upload/f_auto,q_auto,w_664,h_374/restaurant/0fb87f67-79d8-4ad5-bb06-6e9d668400cd/8d85bcd4-f6d9-47a3-967d-6be6f376d251.jpg',
       'https://res.cloudinary.com/tf-lab/image/upload/f_auto,q_auto,w_664,h_374/restaurant/cf797b76-9f49-4e2d-bd25-89b05d312ff3/5ffd061d-3b83-43d9-aa13-7bf39afecfd7.jpg',
       'https://res.cloudinary.com/tf-lab/image/upload/f_auto,q_auto,w_664,h_374/restaurant/25442534-4b23-40e5-91a5-2eb2da7b7a92/86b9de08-b5f8-4c6f-97c9-f8ee4dd0ad4f.jpg',
       ...,
       'https://res.cloudinary.com/tf-lab/image/upload/f_auto,q_auto,w_664,h_374/restaurant/7252fa4a-63a4-43bb-b4d5-83e3c48db045/63238949-2ad2-47e7-a812-8c4a215fbef9.jpg',
       'https://res.cloudinary.com/tf-lab/image/upload/f_auto,q_auto,w_664,h_374/restaurant/97249dc8-13a3-4473-bd9b-c9de1ada5f54/8bbb15f6-03df-4f59-8daa-73643c0b737d.jpg',
       'https://res.cloudinary.com/tf-lab/image/upload/f_auto,q_auto,w_664,h_374/restaurant/ac8c8d50-6309-4eae-bf6a-bb59fa7b9646/08cf54f9-78a4-4d57-839d-af5c2c890f25.jpg'],
      dtype=object)

#### 6.2. Reviews

In [133]:
reviews = ['reviewList/0/ambienceRatingValue','reviewList/0/date', 'reviewList/0/foodRatingValue', 'reviewList/0/ratingValue', 'reviewList/0/review',
 'reviewList/0/reviewerName', 'reviewList/0/serviceRatingValue', 'reviewList/1/ambienceRatingValue', 'reviewList/1/date', 'reviewList/1/foodRatingValue', 'reviewList/1/ratingValue',
 'reviewList/1/review', 'reviewList/1/reviewerName', 'reviewList/1/serviceRatingValue', 'reviewList/2/ambienceRatingValue', 'reviewList/2/date', 'reviewList/2/foodRatingValue',
 'reviewList/2/ratingValue', 'reviewList/2/review', 'reviewList/2/reviewerName', 'reviewList/2/serviceRatingValue', 'reviewList/3/ambienceRatingValue','reviewList/3/date',
 'reviewList/3/foodRatingValue', 'reviewList/3/ratingValue', 'reviewList/3/review', 'reviewList/3/reviewerName', 'reviewList/3/serviceRatingValue', 'reviewList/4/ambienceRatingValue',
 'reviewList/4/date','reviewList/4/foodRatingValue', 'reviewList/4/ratingValue', 'reviewList/4/review', 'reviewList/4/reviewerName', 'reviewList/4/serviceRatingValue',
 'reviewList/5/ambienceRatingValue', 'reviewList/5/date', 'reviewList/5/foodRatingValue', 'reviewList/5/ratingValue', 'reviewList/5/review', 'reviewList/5/reviewerName',
 'reviewList/5/serviceRatingValue', 'reviewList/6/ambienceRatingValue', 'reviewList/6/date', 'reviewList/6/foodRatingValue', 'reviewList/6/ratingValue', 'reviewList/6/review',
 'reviewList/6/reviewerName', 'reviewList/6/serviceRatingValue', 'reviewList/7/ambienceRatingValue', 'reviewList/7/date', 'reviewList/7/foodRatingValue', 'reviewList/7/ratingValue',
 'reviewList/7/review', 'reviewList/7/reviewerName', 'reviewList/7/serviceRatingValue', 'reviewList/8/ambienceRatingValue', 'reviewList/8/date', 'reviewList/8/foodRatingValue',
 'reviewList/8/ratingValue', 'reviewList/8/review', 'reviewList/8/reviewerName', 'reviewList/8/serviceRatingValue', 'reviewList/9/ambienceRatingValue', 'reviewList/9/date',
 'reviewList/9/foodRatingValue', 'reviewList/9/ratingValue', 'reviewList/9/review', 'reviewList/9/reviewerName', 'reviewList/9/serviceRatingValue', 'reviewList/10/ambienceRatingValue',
 'reviewList/10/date', 'reviewList/10/foodRatingValue', 'reviewList/10/ratingValue', 'reviewList/10/review', 'reviewList/10/reviewerName', 'reviewList/10/serviceRatingValue',
 'reviewList/11/ambienceRatingValue', 'reviewList/11/date', 'reviewList/11/foodRatingValue', 'reviewList/11/ratingValue', 'reviewList/11/review', 'reviewList/11/reviewerName',
 'reviewList/11/serviceRatingValue', 'reviewList/12/ambienceRatingValue', 'reviewList/12/date', 'reviewList/12/foodRatingValue', 'reviewList/12/ratingValue', 'reviewList/12/review',
 'reviewList/12/reviewerName', 'reviewList/12/serviceRatingValue', 'reviewList/13/ambienceRatingValue', 'reviewList/13/date', 'reviewList/13/foodRatingValue', 'reviewList/13/ratingValue',
 'reviewList/13/review', 'reviewList/13/reviewerName', 'reviewList/13/serviceRatingValue', 'reviewList/14/ambienceRatingValue', 'reviewList/14/date',
 'reviewList/14/foodRatingValue', 'reviewList/14/ratingValue', 'reviewList/14/review', 'reviewList/14/reviewerName', 'reviewList/14/serviceRatingValue', 'reviewList/15/ambienceRatingValue',
 'reviewList/15/date', 'reviewList/15/foodRatingValue', 'reviewList/15/ratingValue', 'reviewList/15/review', 'reviewList/15/reviewerName', 'reviewList/15/serviceRatingValue',
 'reviewList/16/ambienceRatingValue', 'reviewList/16/date', 'reviewList/16/foodRatingValue', 'reviewList/16/ratingValue', 'reviewList/16/review', 'reviewList/16/reviewerName',
 'reviewList/16/serviceRatingValue', 'reviewList/17/ambienceRatingValue', 'reviewList/17/date', 'reviewList/17/foodRatingValue', 'reviewList/17/ratingValue', 'reviewList/17/review',
 'reviewList/17/reviewerName', 'reviewList/17/serviceRatingValue', 'reviewList/18/ambienceRatingValue', 'reviewList/18/date', 'reviewList/18/foodRatingValue', 'reviewList/18/ratingValue',
 'reviewList/18/review', 'reviewList/18/reviewerName', 'reviewList/18/serviceRatingValue', 'reviewList/19/ambienceRatingValue', 'reviewList/19/date', 'reviewList/19/foodRatingValue',
 'reviewList/19/ratingValue', 'reviewList/19/review', 'reviewList/19/reviewerName', 'reviewList/19/serviceRatingValue']

In [134]:
df_reviews = data[reviews].copy()

In [135]:
ambience = []
food = []
service = []
for col in df_reviews.columns:
    if 'ambienceRatingValue' in col:
        ambience.append(col)
    elif 'foodRatingValue' in col:
        food.append(col)
    elif 'serviceRatingValue' in col:
        service.append(col)

In [136]:
#Creating three new columns regarding ratings per category using the mean values of the user-based ratings
df_reviews['ambienceRatingSummary'] = df_reviews[ambience].mean(axis=1)
df_reviews['foodRatingSummary'] = df_reviews[food].mean(axis=1)
df_reviews['serviceRatingSummary'] = df_reviews[service].mean(axis=1)

In [137]:
data[['ambienceRatingSummary', 'foodRatingSummary', 'serviceRatingSummary']] = df_reviews[['ambienceRatingSummary', 'foodRatingSummary', 'serviceRatingSummary']].copy()

#### 6.3. Payment Methods

In [138]:
payments = ['paymentAccepted/0','paymentAccepted/1', 'paymentAccepted/2', 'paymentAccepted/3', 'paymentAccepted/4',
 'paymentAccepted/5', 'paymentAccepted/6', 'paymentAccepted/7', 'paymentAccepted/8', 'paymentAccepted/9', 'paymentAccepted/10']

In [139]:
df_payments = data[payments].copy()

In [140]:
df_payments.fillna(0, inplace=True)

In [141]:
df_payments['paymentAcceptedSummary'] = df_payments.apply(lambda row: [row[col] for col in df_payments.columns if row[col] != 0], axis=1)

In [142]:
data['paymentAcceptedSummary'] = df_payments['paymentAcceptedSummary'].copy()

In [143]:
data_exploded_pay = data['paymentAcceptedSummary'].explode()
payment_counts = data_exploded_pay.value_counts()

print(payment_counts)

Credit Card          1345
Visa                 1197
Mastercard           1049
Visa Electron         560
Maestro Card          274
Cabal Debit Card      250
Cabal Credit Card     248
American Express      212
MobilePay             157
Apple Pay              60
Cash Only              39
Diners Club Card       24
Voucher                21
Check                   8
Bancontact              5
Elo                     3
Clave Debit Card        2
Sodexo                  2
Rede Shop               1
EC card                 1
Clave Credit Card       1
Name: paymentAcceptedSummary, dtype: int64

In [144]:
data.iloc[92]

address                   Aveiro Business Center Rua da Igreja, n¬∫79 N¬™ ...
averagePrice                                                             12
chefName                                                     Not Applicable
cuisine                                                       Mediterranean
currency                                                                EUR
                                                ...
promotions                [{'promotion_type': 'Free dessert', 'day_of_we...
ambienceRatingSummary                                              9.571429
foodRatingSummary                                                  9.285714
serviceRatingSummary                                               9.571429
paymentAcceptedSummary    [American Express, Credit Card, Mastercard, Visa]
Name: 92, Length: 314, dtype: object

In [145]:
#Replace 'Cash Only' with 'Cash'
data['paymentAcceptedSummary'] = [x if 'Cash Only' not in x else [item.replace('Cash Only', 'Cash') for item in x] for x in data['paymentAcceptedSummary']]
data['paymentAcceptedSummary'].iloc[31]

['Credit Card', 'Mastercard', 'Visa', 'Visa Electron']

#### 6.4. Tags

In [146]:
df_tags = data[['tags/0','tags/1', 'tags/2', 'tags/3', 'tags/4', 'tags/5', 'tags/6', 'tags/7',]].copy()
df_tags

,tags/0,tags/1,tags/2,tags/3,tags/4,tags/5,tags/6,tags/7
0,YUMS x2,International food,NaN,NaN,NaN,NaN,NaN,NaN
1,International food,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Japanese,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Indian,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Portuguese,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1629,Portuguese,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1630,Italian,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1631,Portuguese,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1632,INSIDER,Steakhouse,NaN,NaN,NaN,NaN,NaN,NaN
1633,Pizzeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
# df_tags['tags/0'].unique()

In [148]:
# df_tags['tags/1'].unique()

In [149]:
# df_tags['tags/2'].unique()

In [150]:
# df_tags['tags/3'].unique()

In [151]:
# df_tags['tags/4'].unique()

In [152]:
# df_tags['tags/5'].unique()

In [153]:
# df_tags['tags/6'].unique()

In [154]:
# df_tags['tags/7'].unique()

In [155]:
# df_tags.to_csv('tags.csv', index = True)

In [156]:
df_tags['Michelin'] = df_tags.apply(lambda row: 1 if 'MICHELIN' in row.values else 0, axis=1)

In [157]:
df_tags[df_tags['Michelin']==1]

,tags/0,tags/1,tags/2,tags/3,tags/4,tags/5,tags/6,tags/7,Michelin
9,MICHELIN,INSIDER,Portuguese,NaN,NaN,NaN,NaN,NaN,1
101,MICHELIN,INSIDER,International food,Accepting my yums,NaN,NaN,NaN,NaN,1
130,MICHELIN,INSIDER,International food,NaN,NaN,NaN,NaN,NaN,1
157,MICHELIN,INSIDER,European,NaN,NaN,NaN,NaN,NaN,1
174,MICHELIN,INSIDER,Portuguese,NaN,NaN,NaN,NaN,NaN,1
246,MICHELIN,INSIDER,Portuguese,NaN,NaN,NaN,NaN,NaN,1
249,MICHELIN,INSIDER,European,NaN,NaN,NaN,NaN,NaN,1
262,MICHELIN,INSIDER,Italian,NaN,NaN,NaN,NaN,NaN,1
269,MICHELIN,Portuguese,NaN,NaN,NaN,NaN,NaN,NaN,1
286,MICHELIN,INSIDER,European,NaN,NaN,NaN,NaN,NaN,1
316,MICHELIN,INSIDER,European,NaN,NaN,NaN,NaN,NaN,1
340,INSIDER,MICHELIN,Portuguese,NaN,NaN,NaN,NaN,NaN,1
369,MICHELIN,International food,NaN,NaN,NaN,NaN,NaN,NaN,1
412,MICHELIN,INSIDER,Mediterranean,NaN,NaN,NaN,NaN,NaN,1
414,MICHELIN,INSIDER,Portuguese,NaN,NaN,NaN,NaN,NaN,1
424,MICHELIN,INSIDER,Portuguese,NaN,NaN,NaN,NaN,NaN,1
566,MICHELIN,INSIDER,Portuguese,NaN,NaN,NaN,NaN,NaN,1
589,MICHELIN,INSIDER,Japanese,NaN,NaN,NaN,NaN,NaN,1
728,MICHELIN,INSIDER,International food,NaN,NaN,NaN,NaN,NaN,1
783,MICHELIN,INSIDER,International,NaN,NaN,NaN,NaN,NaN,1
873,MICHELIN,INSIDER,Portuguese,NaN,NaN,NaN,NaN,NaN,1
880,MICHELIN,INSIDER,Portuguese,Accepting my yums,NaN,NaN,NaN,NaN,1
966,MICHELIN,International,NaN,NaN,NaN,NaN,NaN,NaN,1
1011,MICHELIN,Mexican,NaN,NaN,NaN,NaN,NaN,NaN,1
1019,MICHELIN,INSIDER,International,NaN,NaN,NaN,NaN,NaN,1
1022,MICHELIN,INSIDER,Mediterranean,NaN,NaN,NaN,NaN,NaN,1
1063,MICHELIN,INSIDER,International food,NaN,NaN,NaN,NaN,NaN,1
1070,INSIDER,MICHELIN,Vegetarian,NaN,NaN,NaN,NaN,NaN,1
1085,INSIDER,MICHELIN,Traditional cuisine,NaN,NaN,NaN,NaN,NaN,1
1088,INSIDER,MICHELIN,Portuguese,NaN,NaN,NaN,NaN,NaN,1
1090,MICHELIN,INSIDER,International,NaN,NaN,NaN,NaN,NaN,1
1110,INSIDER,MICHELIN,Portuguese,NaN,NaN,NaN,NaN,NaN,1
1142,MICHELIN,INSIDER,Portuguese,NaN,NaN,NaN,NaN,NaN,1
1153,MICHELIN,Portuguese,NaN,NaN,NaN,NaN,NaN,NaN,1
1190,MICHELIN,Portuguese,NaN,NaN,NaN,NaN,NaN,NaN,1
1248,MICHELIN,INSIDER,Portuguese,NaN,NaN,NaN,NaN,NaN,1
1365,MICHELIN,INSIDER,Portuguese,NaN,NaN,NaN,NaN,NaN,1
1427,MICHELIN,INSIDER,Japanese,NaN,NaN,NaN,NaN,NaN,1
1478,MICHELIN,INSIDER,International food,NaN,NaN,NaN,NaN,NaN,1
1516,INSIDER,MICHELIN,Portuguese,NaN,NaN,NaN,NaN,NaN,1
1523,MICHELIN,Portuguese,NaN,NaN,NaN,NaN,NaN,NaN,1
1556,MICHELIN,Portuguese,NaN,NaN,NaN,NaN,NaN,NaN,1
1571,MICHELIN,INSIDER,Portuguese,NaN,NaN,NaN,NaN,NaN,1
1594,MICHELIN,INSIDER,Portuguese,NaN,NaN,NaN,NaN,NaN,1

In [158]:
#Removing TheFork based values
df_tags = df_tags.replace('MICHELIN', np.nan)
df_tags = df_tags.replace(['YUMS x2'], np.nan)
df_tags = df_tags.replace(['Accepting my yums'], np.nan)
df_tags = df_tags.replace(['INSIDER'], np.nan)

In [159]:
#unique values in the df_tags dataframe
for col in df_tags.columns:
    print(df_tags[col].unique())

[nan 'International food' 'Japanese' 'Indian' 'Portuguese' 'Pizzeria'
 'International' 'Mediterranean' 'Fusion' 'Nepalese' 'Italian' 'European'
 'Seafood' 'Vegan cuisine' 'Traditional cuisine' 'Steakhouse' 'Regional'
 'Greek' 'Vegetarian' 'Varied' 'Grilled' 'Thai' 'Mexican' 'Local' 'French'
 'Pub grub' 'Brazilian' 'Venezuelan' 'Peruvian' 'Korean' 'American'
 'Meat Cuisine' 'Asian' 'Toscano' 'African' 'Syrian' 'Iranian' 'Lebanese'
 'Tibetan' 'Vietnamese' 'Argentinian' 'Pugliese' 'Spanish']
['International food' nan 'Italian' 'Japanese' 'Portuguese' 'European'
 'Traditional cuisine' 'Welcome' 'Varied' 'International' 'Asian'
 'Mediterranean' 'Thai' 'Steakhouse' 'South American' 'Fusion' 'Pizzeria'
 'Meat Cuisine' 'Brazilian' 'Seafood' 'Regional' 'Grilled' 'Mexican'
 'Spanish' 'Indian' 'Peruvian' 'Cantonese' 'Vegan cuisine' 'Local'
 'French' 'Chinese']
[nan 'Portuguese' 'International food' 'Indian' 'European' 'Italian'
 'Mediterranean' 'Japanese' 'International' 'Vegetarian'
 'Traditional cuisine']
[nan]
[nan]
[nan]
[nan]
[nan]
[0 1]

In [160]:
df_tags

,tags/0,tags/1,tags/2,tags/3,tags/4,tags/5,tags/6,tags/7,Michelin
0,NaN,International food,NaN,NaN,NaN,NaN,NaN,NaN,0
1,International food,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,Japanese,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,Indian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,Portuguese,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...
1629,Portuguese,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1630,Italian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1631,Portuguese,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1632,NaN,Steakhouse,NaN,NaN,NaN,NaN,NaN,NaN,0
1633,Pizzeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [161]:
df_tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1634 entries, 0 to 1633
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tags/0    1317 non-null   object
 1   tags/1    273 non-null    object
 2   tags/2    46 non-null     object
 3   tags/3    0 non-null      float64
 4   tags/4    0 non-null      float64
 5   tags/5    0 non-null      float64
 6   tags/6    0 non-null      float64
 7   tags/7    0 non-null      float64
 8   Michelin  1634 non-null   int64
dtypes: float64(5), int64(1), object(3)
memory usage: 115.0+ KB

In [162]:
# remove the last 5 columns from the dataframe
df_tags.drop(df_tags.columns[-6:], axis=1, inplace=True)

In [163]:
for col in df_tags.columns:
    print(df_tags[col].unique())

[nan 'International food' 'Japanese' 'Indian' 'Portuguese' 'Pizzeria'
 'International' 'Mediterranean' 'Fusion' 'Nepalese' 'Italian' 'European'
 'Seafood' 'Vegan cuisine' 'Traditional cuisine' 'Steakhouse' 'Regional'
 'Greek' 'Vegetarian' 'Varied' 'Grilled' 'Thai' 'Mexican' 'Local' 'French'
 'Pub grub' 'Brazilian' 'Venezuelan' 'Peruvian' 'Korean' 'American'
 'Meat Cuisine' 'Asian' 'Toscano' 'African' 'Syrian' 'Iranian' 'Lebanese'
 'Tibetan' 'Vietnamese' 'Argentinian' 'Pugliese' 'Spanish']
['International food' nan 'Italian' 'Japanese' 'Portuguese' 'European'
 'Traditional cuisine' 'Welcome' 'Varied' 'International' 'Asian'
 'Mediterranean' 'Thai' 'Steakhouse' 'South American' 'Fusion' 'Pizzeria'
 'Meat Cuisine' 'Brazilian' 'Seafood' 'Regional' 'Grilled' 'Mexican'
 'Spanish' 'Indian' 'Peruvian' 'Cantonese' 'Vegan cuisine' 'Local'
 'French' 'Chinese']
[nan 'Portuguese' 'International food' 'Indian' 'European' 'Italian'
 'Mediterranean' 'Japanese' 'International' 'Vegetarian'
 'Traditional cuisine']

In [164]:
# join these columns in one column just with the non null values
df_tags['type'] = df_tags.apply(lambda row: next((val for val in row if not pd.isna(val)), np.nan), axis=1)

In [165]:
# delete all the columns except the new one
df_tags.drop(df_tags.columns[:-1], axis=1, inplace=True)

In [166]:
# CREATE A CSV FILE WITH DF_TAGS DATAFRAME WITH NAME TYPES
df_tags.to_csv('types.csv', index = True)

#### General Metrics

In [167]:
df_workable = data[['address', 'averagePrice', 'chefName', 'cuisine', 'currency', 'description', 'hasLoyaltyProgram', 'isBookable', 'maxPartySize',
 'name', 'offer', 'schedule', 'promotions', 'phone', 'photo', 'ratingValue', 'reviewCount', 'style', 'latitude', 'longitude', 'location', 'city',
 'ambienceRatingSummary', 'foodRatingSummary', 'serviceRatingSummary', 'paymentAcceptedSummary', ]].copy()

In [168]:
# #If not euros, convert the average price to euros.
# c = CurrencyConverter()
# df_workable['averagePriceEUR'] = df_workable.apply(to_euros, axis=1)

In [169]:
df_workable.isnull().any()

address                   False
averagePrice              False
chefName                  False
cuisine                   False
currency                  False
description                True
hasLoyaltyProgram         False
isBookable                False
maxPartySize               True
name                      False
offer                      True
schedule                  False
promotions                False
phone                     False
photo                     False
ratingValue                True
reviewCount                True
style                      True
latitude                  False
longitude                 False
location                  False
city                      False
ambienceRatingSummary      True
foodRatingSummary          True
serviceRatingSummary       True
paymentAcceptedSummary    False
dtype: bool

### Visualizing Data

In [170]:
df_workable['style'].unique()

array(['Bachelor party', 'After work', 'Birthday', 'Good for ceremonies',
       'All you can eat buffet', 'Good for families',
       'Contemporary cuisine', 'Author', 'Good for groups',
       'Central location', 'Bistro', nan, 'Fine Dining', 'Cosy',
       'Live music', 'Creative', 'Brunch', 'Lunch', 'Traditional',
       'Bistronomic', 'Good for a business lunch', 'Terrace',
       'Homemade cuisine', 'Brasserie', 'Garden', 'Oceanfront',
       'Great view', 'Caf√©', 'Trendy', 'Romantic', 'Restaurant hotel',
       'Communion', 'Breakfast', 'Winter terrace', 'Nightlife',
       'With friends', 'Street Food', 'Organic', 'Healthy.old', 'Ethnic',
       'From market', 'Design', 'Wine bar'], dtype=object)

In [171]:
import folium

m = folium.Map(location=(38.736946, -9.142685), zoom_start=7, tiles="cartodb positron")

### Restaurants Near You

In [172]:
df1 = df_workable[df_workable['location'] == 'Lisbon']
shaul = Location()
shaul.getLocation()

In [173]:
df1 = nearYou(shaul, df1, 10)

In [174]:
df1['minutes_away'] = df1.apply(lambda row: shaul.getDirections(row['latitude'], row['longitude'], ['driving'])['driving'].minutes, axis=1)

In [175]:
df1

,address,averagePrice,chefName,cuisine,currency,description,hasLoyaltyProgram,isBookable,maxPartySize,name,...,latitude,longitude,location,city,ambienceRatingSummary,foodRatingSummary,serviceRatingSummary,paymentAcceptedSummary,haversine_distances,minutes_away
1007,"Avenida Infante Santo - 60B,Lisbon, Portugal",17,Not Applicable,Japanese,EUR,NaN,False,True,90.0,Sakura Infante Santo,...,38.708475,-9.166999,Lisbon,Almada,9.176471,9.529412,9.294118,"[Credit Card, Mastercard, Visa, Visa Electron]",0.532764,2
895,"R. Ferreira Borges 45,Lisbon, Portugal",13,Vini Lisboa,International food,EUR,NaN,False,True,60.0,Santo Graal - Campo de Ourique,...,38.716345,-9.164038,Lisbon,Almada,9.400000,9.500000,9.500000,"[Visa, Visa Electron]",0.558390,3
812,"Rua de Infantaria 16, n√∫mero 43, Campo de Ouri...",25,Carol Silva,International,EUR,NaN,False,True,60.0,Dal√≠ Cozinha Surreal,...,38.720784,-9.167584,Lisbon,Almada,9.300000,9.600000,9.300000,"[Credit Card, Visa, Visa Electron]",0.868821,3
1016,"R. Trinas 129,Lisbon, Portugal",45,Not Applicable,European,EUR,NaN,False,True,10.0,Clube de Jornalistas,...,38.710090,-9.159280,Lisbon,Almada,9.600000,10.000000,10.000000,"[Credit Card, Mastercard, Visa]",0.895064,5
740,"R. Tom√°s da Anuncia√ß√£o 171A,Lisbon, Portugal",20,Joo Bivar,Japanese,EUR,NaN,False,True,60.0,Shun Open Kitchen,...,38.720930,-9.165850,Lisbon,Almada,9.333333,9.333333,8.666667,"[Credit Card, Mastercard, Visa, Visa Electron]",0.916186,4
822,"Rua Vieira da Silva 56, 1350-342,Lisbon, Portugal",14,Not Applicable,American,EUR,NaN,False,True,60.0,MBH Hamburgueseria Alcantara,...,38.705511,-9.173449,Lisbon,Almada,8.444444,9.555556,9.111111,[Visa Electron],0.926013,6
811,"R. Silva Carvalho 167,Lisbon, Portugal",16,Not Applicable,Portuguese,EUR,NaN,False,True,60.0,Don Pablo - Campo de Ourique,...,38.719688,-9.161786,Lisbon,Almada,9.200000,9.300000,9.300000,"[Visa, Visa Electron]",0.962247,7
720,"R. Presidente Arriaga n¬∫ 55,Lisbon, Portugal",17,Not Applicable,Japanese,EUR,NaN,False,True,60.0,KatanaSushi (Santos),...,38.704427,-9.166510,Lisbon,Almada,9.200000,9.700000,9.500000,"[Visa, Visa Electron]",0.979145,4
1126,"R. de S√£o Jo√£o da Mata 82,Lisbon, Portugal",12,Not Applicable,Indian,EUR,NaN,False,True,60.0,Restaurant Chulho & Bar,...,38.707962,-9.158520,Lisbon,Almada,8.000000,9.500000,9.333333,"[Visa, Visa Electron]",1.061324,4
1151,"Travessa do Convento das Bernardas 12,Lisbon, ...",50,Not Applicable,International,EUR,NaN,False,True,80.0,A Travessa,...,38.708087,-9.156269,Lisbon,Almada,8.400000,8.100000,7.800000,"[American Express, Mastercard, Visa]",1.224788,8

__Painel de Analytics (primeira p√°gina)__:
- dizer quantos restaurantes se encontraram perto (Fazer um plot);
- nome do restaurante mais pr√≥ximo e distancia;
- qual o tipo de comida mais comum pr√≥ximo;
- Qual o average price da comdia proximo;
- Qual o restaurante mais top rated e mesmo a n√≠vel de coisas especificas (ambiente, comida);
- Promo√ß√µes perto.
- User poder√° escolher a data para ver os restaurantes abertps;

In [176]:
import folium

m = folium.Map(location=(shaul.latitude, shaul.longitude), zoom_start=7, tiles="cartodb positron")
for index, row in df1.iterrows():
    # Create a marker for each observation
    folium.Marker(
        location=[row['latitude'], row['longitude']],
        popup=row['name'],  # Display the name in a popup
    ).add_to(m)

m

In [177]:
df1['averagePrice'].median()

17.0

In [178]:
df1['cuisine'].value_counts()

Japanese              3
International         2
International food    1
European              1
American              1
Portuguese            1
Indian                1
Name: cuisine, dtype: int64

In [179]:
df1[df1['minutes_away'] == df1['minutes_away'].min()]

,address,averagePrice,chefName,cuisine,currency,description,hasLoyaltyProgram,isBookable,maxPartySize,name,...,latitude,longitude,location,city,ambienceRatingSummary,foodRatingSummary,serviceRatingSummary,paymentAcceptedSummary,haversine_distances,minutes_away
1007,"Avenida Infante Santo - 60B,Lisbon, Portugal",17,Not Applicable,Japanese,EUR,NaN,False,True,90.0,Sakura Infante Santo,...,38.708475,-9.166999,Lisbon,Almada,9.176471,9.529412,9.294118,"[Credit Card, Mastercard, Visa, Visa Electron]",0.532764,2

In [180]:
df1[df1['ratingValue'] == df1['ratingValue'].max()]

,address,averagePrice,chefName,cuisine,currency,description,hasLoyaltyProgram,isBookable,maxPartySize,name,...,latitude,longitude,location,city,ambienceRatingSummary,foodRatingSummary,serviceRatingSummary,paymentAcceptedSummary,haversine_distances,minutes_away
1016,"R. Trinas 129,Lisbon, Portugal",45,Not Applicable,European,EUR,NaN,False,True,10.0,Clube de Jornalistas,...,38.71009,-9.15928,Lisbon,Almada,9.6,10.0,10.0,"[Credit Card, Mastercard, Visa]",0.895064,5

In [181]:
df1[df1['foodRatingSummary'] == df1['foodRatingSummary'].max()]

,address,averagePrice,chefName,cuisine,currency,description,hasLoyaltyProgram,isBookable,maxPartySize,name,...,latitude,longitude,location,city,ambienceRatingSummary,foodRatingSummary,serviceRatingSummary,paymentAcceptedSummary,haversine_distances,minutes_away
1016,"R. Trinas 129,Lisbon, Portugal",45,Not Applicable,European,EUR,NaN,False,True,10.0,Clube de Jornalistas,...,38.71009,-9.15928,Lisbon,Almada,9.6,10.0,10.0,"[Credit Card, Mastercard, Visa]",0.895064,5

In [182]:
df1[df1['ambienceRatingSummary'] == df1['ambienceRatingSummary'].max()]

,address,averagePrice,chefName,cuisine,currency,description,hasLoyaltyProgram,isBookable,maxPartySize,name,...,latitude,longitude,location,city,ambienceRatingSummary,foodRatingSummary,serviceRatingSummary,paymentAcceptedSummary,haversine_distances,minutes_away
1016,"R. Trinas 129,Lisbon, Portugal",45,Not Applicable,European,EUR,NaN,False,True,10.0,Clube de Jornalistas,...,38.71009,-9.15928,Lisbon,Almada,9.6,10.0,10.0,"[Credit Card, Mastercard, Visa]",0.895064,5

In [183]:
df1[df1['serviceRatingSummary'] == df1['serviceRatingSummary'].max()]

,address,averagePrice,chefName,cuisine,currency,description,hasLoyaltyProgram,isBookable,maxPartySize,name,...,latitude,longitude,location,city,ambienceRatingSummary,foodRatingSummary,serviceRatingSummary,paymentAcceptedSummary,haversine_distances,minutes_away
1016,"R. Trinas 129,Lisbon, Portugal",45,Not Applicable,European,EUR,NaN,False,True,10.0,Clube de Jornalistas,...,38.71009,-9.15928,Lisbon,Almada,9.6,10.0,10.0,"[Credit Card, Mastercard, Visa]",0.895064,5

In [184]:
df1[df1['promotions'] != 'No Offers']

,address,averagePrice,chefName,cuisine,currency,description,hasLoyaltyProgram,isBookable,maxPartySize,name,...,latitude,longitude,location,city,ambienceRatingSummary,foodRatingSummary,serviceRatingSummary,paymentAcceptedSummary,haversine_distances,minutes_away
1007,"Avenida Infante Santo - 60B,Lisbon, Portugal",17,Not Applicable,Japanese,EUR,NaN,False,True,90.0,Sakura Infante Santo,...,38.708475,-9.166999,Lisbon,Almada,9.176471,9.529412,9.294118,"[Credit Card, Mastercard, Visa, Visa Electron]",0.532764,2
895,"R. Ferreira Borges 45,Lisbon, Portugal",13,Vini Lisboa,International food,EUR,NaN,False,True,60.0,Santo Graal - Campo de Ourique,...,38.716345,-9.164038,Lisbon,Almada,9.400000,9.500000,9.500000,"[Visa, Visa Electron]",0.558390,3
740,"R. Tom√°s da Anuncia√ß√£o 171A,Lisbon, Portugal",20,Joo Bivar,Japanese,EUR,NaN,False,True,60.0,Shun Open Kitchen,...,38.720930,-9.165850,Lisbon,Almada,9.333333,9.333333,8.666667,"[Credit Card, Mastercard, Visa, Visa Electron]",0.916186,4
822,"Rua Vieira da Silva 56, 1350-342,Lisbon, Portugal",14,Not Applicable,American,EUR,NaN,False,True,60.0,MBH Hamburgueseria Alcantara,...,38.705511,-9.173449,Lisbon,Almada,8.444444,9.555556,9.111111,[Visa Electron],0.926013,6
811,"R. Silva Carvalho 167,Lisbon, Portugal",16,Not Applicable,Portuguese,EUR,NaN,False,True,60.0,Don Pablo - Campo de Ourique,...,38.719688,-9.161786,Lisbon,Almada,9.200000,9.300000,9.300000,"[Visa, Visa Electron]",0.962247,7
720,"R. Presidente Arriaga n¬∫ 55,Lisbon, Portugal",17,Not Applicable,Japanese,EUR,NaN,False,True,60.0,KatanaSushi (Santos),...,38.704427,-9.166510,Lisbon,Almada,9.200000,9.700000,9.500000,"[Visa, Visa Electron]",0.979145,4
1126,"R. de S√£o Jo√£o da Mata 82,Lisbon, Portugal",12,Not Applicable,Indian,EUR,NaN,False,True,60.0,Restaurant Chulho & Bar,...,38.707962,-9.158520,Lisbon,Almada,8.000000,9.500000,9.333333,"[Visa, Visa Electron]",1.061324,4
1151,"Travessa do Convento das Bernardas 12,Lisbon, ...",50,Not Applicable,International,EUR,NaN,False,True,80.0,A Travessa,...,38.708087,-9.156269,Lisbon,Almada,8.400000,8.100000,7.800000,"[American Express, Mastercard, Visa]",1.224788,8