# Exploratory Data Analysis and Cleaning

### 1. Importing Libraries and data

In [44]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from currency_converter import CurrencyConverter
import datetime
import requests
from geopy.geocoders import Nominatim

In [45]:
data = pd.read_csv('alltheforkscrapes2.csv', index_col=0)

C:\Users\carolinashaul\AppData\Local\Temp\ipykernel_12748\3097664941.py:1: DtypeWarning: Columns (292,300,301,302,303,304,305,306,307) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('alltheforkscrapes2.csv', index_col=0)

In [46]:
data.reset_index(inplace=True)
data.drop(['index'], axis=1, inplace=True)

In [47]:
data

,address,averagePrice,chefName,cuisine,currency,customerPhotos/0,customerPhotos/1,customerPhotos/2,customerPhotos/3,customerPhotos/4,...,photos/96,photos/97,photos/98,photos/99,photos/100,photos/101,photos/102,photos/103,photos/104,photos/105
0,"R. José Fontana 10,8200-295,Albufeira",14,NaN,International food,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"R. Almeida Garrett 71,8200-272,Albufeira",15,NaN,International food,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"R. da Torre Velha,8200,Albufeira",24,Yana Malayko,Japanese,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Tv. Antero de Quental 4B r/c,8200-296,Albufeira",14,Iqbal Hossain Mohon,Indian,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"R. Alexandre Herculano 11,8200-269,Albufeira",15,Romilson Santos,Portuguese,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2552,"Largo da Cruz Velha,4760-107,Vila Nova de Fama...",15,NaN,Portuguese,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2553,"Alameda Cónego Joaquim Fernandes 160,4760-884,...",18,Gatto Ginno,Italian,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2554,"R. Augusto Correia 42,4760-101,Vila Nova de Fa...",16,NaN,Portuguese,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2555,"Av. 25 de Abril 22 4760,4760-101,Vila Nova de ...",25,Miguel Frias,Steakhouse,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2556,"Av. Narciso Ferreira 181,4760-111,Vila Nova de...",13,NaN,Pizzeria,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
data[data.duplicated()]

,address,averagePrice,chefName,cuisine,currency,customerPhotos/0,customerPhotos/1,customerPhotos/2,customerPhotos/3,customerPhotos/4,...,photos/96,photos/97,photos/98,photos/99,photos/100,photos/101,photos/102,photos/103,photos/104,photos/105
401,"142 Chiswick High Road,W4 1PU,London",81,Nathan Cornwell,British,GBP,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402,"34 Rue Beaurepaire,75010,Paris",45,Masahiro MORIYA,French,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403,"17 Rue Bergère,75009,Paris",55,Satoshi HORIUCHI,French,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404,"1 Rue Ambroise Thomas,75009,Paris",80,Florian Barbarot,French,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405,"Carrer de Bala Roja, 1,07001,Palma de Mallorca",150,FERNANDO P. ARELLANO,Mediterranean,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2184,"8200-278,8200-278,Albufeira",25,NaN,Mediterranean,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2185,"R. Torre da Medronheira 1,8200-650,Olhos de Água",15,Tati Justino,Mediterranean,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2186,"Urbanizaçao Vila Praia, Rua Torre da Medronhei...",37,Daniel Holdsworth Delgado,European,EUR,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,https://res.cloudinary.com/tf-lab/image/upload...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2187,"EPIC SANA Algarve Hotel Pinhal do Concelho, Pr...",33,Luis Mourao,Portuguese,EUR,https://res.cloudinary.com/tf-lab/image/upload...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2188,"R. de Dunfermline, Lote 12,8200-284,Albufeira",13,NaN,Mediterranean,EUR,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
#Drop duplicated rows
data.drop_duplicates(inplace=True, keep='last')

In [50]:
data.reset_index(inplace=True)
data.drop(['index'], axis=1, inplace=True)

### 2. Summary Statistics

In [51]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
averagePrice,1792.0,2.702734e+01,2.429775e+01,9.000000e+00,1.500000e+01,2.000000e+01,2.800000e+01,3.500000e+02
latitude,1792.0,4.038920e+01,4.289454e+00,3.701935e+01,3.867652e+01,3.869686e+01,4.115794e+01,5.340000e+01
longitude,1792.0,-8.151668e+00,1.686299e+00,-9.381659e+00,-9.165105e+00,-8.629105e+00,-8.147684e+00,-2.983333e+00
maxPartySize,1547.0,5.167033e+01,2.674151e+01,4.000000e+00,4.000000e+01,6.000000e+01,6.000000e+01,3.700000e+02
phone,1078.0,3.348657e+11,7.634754e+10,3.314014e+10,3.512189e+11,3.512890e+11,3.519204e+11,4.478807e+11
...,...,...,...,...,...,...,...,...
reviewList/18/serviceRatingValue,1075.0,9.374884e+00,1.440283e+00,2.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01
reviewList/19/ambienceRatingValue,1053.0,9.137702e+00,1.513260e+00,2.000000e+00,8.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01
reviewList/19/foodRatingValue,1053.0,9.327635e+00,1.478607e+00,2.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01
reviewList/19/ratingValue,1053.0,9.291073e+00,1.258068e+00,2.000000e+00,9.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01
reviewList/19/serviceRatingValue,1053.0,9.371320e+00,1.415495e+00,2.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01

In [52]:
data.describe(include='object').T

KeyboardInterrupt:

### 3. Handling Locations

In [ ]:
locations = data[['name','address', 'location', 'longitude', 'latitude']].copy()

In [ ]:
#Finds last occurence of the address to determine the city
locations['location2'] = locations['address'].map(lambda x: str(x).split(',')[-1])

#Finds the first occurence within "location" to find city -> this was how we eextracted the data
locations['location3'] = locations['location'].map(lambda x: str(x).split(',')[0])

In [ ]:
#Seems like "location2" is a more appropriate way

#find rows where location2 and location3 don't match and location3 does not have any nans
locations[((locations['location2']) != (locations['location3'])) & (locations['location3'] != 'nan')]

,name,address,location,longitude,latitude,location2,location3
116,Taverna Olhos D'Água,"R. Torre da Medronheira 1,8200-650,Olhos de Água","Albufeira, Portugal",-8.247880,37.089072,Olhos de Água,Albufeira
139,Pizzaria Feira dos 5,"Praça Egas Moniz 8,3870-233,Murtosa","Aveiro, Portugal",-8.653754,40.640506,Murtosa,Aveiro
143,Plazza Forneria,"Av. José Estevão 687,3830-554,Gafanha da Nazaré","Aveiro, Portugal",-8.653754,40.640506,Gafanha da Nazaré,Aveiro
144,Manjar de Helena,"R. Dr. Manuel Pinto 8,3750-140,Águeda","Aveiro, Portugal",-8.653754,40.640506,Águeda,Aveiro
145,Restaurante Búzios (Pousada da Ria),"Bico do Muranzel,3870-301,Torreira","Aveiro, Portugal",-8.653754,40.640506,Torreira,Aveiro
...,...,...,...,...,...,...,...
1781,Restaurante Real,"Hotel Urgeiriça - Urgeiriça,3525-301,Canas de ...","Seia, Portugal",-7.707845,40.414862,Canas de Senhorim,Seia
1782,Restaurante Melmequer,"Avenida da República Nº1, Valezim,6270-621,Val...","Seia, Portugal",-7.707845,40.414862,Valezim,Seia
1783,Taberna da Alzira - Villa Alzira,"R. de São Sebastião,6270,Sandomil","Seia, Portugal",-7.707845,40.414862,Sandomil,Seia
1784,Roots Bistro Bar,R. Principal 5 - Aqua Village Health Resort & ...,"Seia, Portugal",-7.707845,40.414862,Oliveira do Hospital,Seia
1785,Restaurante A Torre (Torre Serra da Estrela),"Alvoco da Serra,6270,Alvoco da Serra","Seia, Portugal",-7.707845,40.414862,Alvoco da Serra,Seia

In [70]:
#Add a whitespace after every comma in the address column
locations['address'] = locations['address'].map(lambda x: str(x).replace(',', ', '))

In [71]:
locations.loc[0, 'address']

'R. José Fontana 10, 8200-295, Albufeira'

In [74]:
from functions import *
find_coordinates2(locations.loc[0, :])

NameError: name 'find_coordinates2' is not defined

There are a few inconsistent entries in terms of locations, as well as missing values due to not belonging to Portugal (original extraction country)

### 4. Handling Missing Values

In [ ]:
null_columns = data.isnull().any()
null_columns = null_columns[null_columns].index
list(null_columns)

['chefName',
 'cuisine',
 'customerPhotos/0',
 'customerPhotos/1',
 'customerPhotos/2',
 'customerPhotos/3',
 'customerPhotos/4',
 'customerPhotos/5',
 'customerPhotos/6',
 'customerPhotos/7',
 'customerPhotos/8',
 'customerPhotos/9',
 'customerPhotos/10',
 'customerPhotos/11',
 'customerPhotos/12',
 'customerPhotos/13',
 'customerPhotos/14',
 'customerPhotos/15',
 'customerPhotos/16',
 'customerPhotos/17',
 'customerPhotos/18',
 'customerPhotos/19',
 'description',
 'location',
 'maxPartySize',
 'offer',
 'openingHours',
 'paymentAccepted/0',
 'paymentAccepted/1',
 'paymentAccepted/2',
 'paymentAccepted/3',
 'paymentAccepted/4',
 'paymentAccepted/5',
 'paymentAccepted/6',
 'paymentAccepted/7',
 'paymentAccepted/8',
 'phone',
 'photos/1',
 'photos/2',
 'photos/3',
 'photos/4',
 'photos/5',
 'photos/6',
 'photos/7',
 'photos/8',
 'photos/9',
 'photos/10',
 'photos/11',
 'photos/12',
 'photos/13',
 'photos/14',
 'photos/15',
 'photos/16',
 'photos/17',
 'photos/18',
 'photos/19',
 'photos/20',
 'photos/21',
 'photos/22',
 'photos/23',
 'photos/24',
 'photos/25',
 'photos/26',
 'photos/27',
 'photos/28',
 'photos/29',
 'photos/30',
 'photos/31',
 'photos/32',
 'photos/33',
 'photos/34',
 'photos/35',
 'photos/36',
 'photos/37',
 'photos/38',
 'photos/39',
 'photos/40',
 'photos/41',
 'photos/42',
 'photos/43',
 'photos/44',
 'photos/45',
 'photos/46',
 'photos/47',
 'photos/48',
 'photos/49',
 'photos/50',
 'photos/51',
 'photos/52',
 'photos/53',
 'photos/54',
 'photos/55',
 'photos/56',
 'photos/57',
 'photos/58',
 'photos/59',
 'photos/60',
 'photos/61',
 'photos/62',
 'photos/63',
 'photos/64',
 'photos/65',
 'photos/66',
 'photos/67',
 'photos/68',
 'photos/69',
 'photos/70',
 'photos/71',
 'photos/72',
 'photos/73',
 'photos/74',
 'photos/75',
 'photos/76',
 'photos/77',
 'photos/78',
 'photos/79',
 'photos/80',
 'photos/81',
 'photos/82',
 'photos/83',
 'photos/84',
 'photos/85',
 'photos/86',
 'photos/87',
 'photos/88',
 'photos/89',
 'photos/90',
 'ratingValue',
 'reviewCount',
 'reviewList/0/ambienceRatingValue',
 'reviewList/0/date',
 'reviewList/0/foodRatingValue',
 'reviewList/0/ratingValue',
 'reviewList/0/review',
 'reviewList/0/reviewerName',
 'reviewList/0/serviceRatingValue',
 'reviewList/1/ambienceRatingValue',
 'reviewList/1/date',
 'reviewList/1/foodRatingValue',
 'reviewList/1/ratingValue',
 'reviewList/1/review',
 'reviewList/1/reviewerName',
 'reviewList/1/serviceRatingValue',
 'reviewList/2/ambienceRatingValue',
 'reviewList/2/date',
 'reviewList/2/foodRatingValue',
 'reviewList/2/ratingValue',
 'reviewList/2/review',
 'reviewList/2/reviewerName',
 'reviewList/2/serviceRatingValue',
 'reviewList/3/ambienceRatingValue',
 'reviewList/3/date',
 'reviewList/3/foodRatingValue',
 'reviewList/3/ratingValue',
 'reviewList/3/review',
 'reviewList/3/reviewerName',
 'reviewList/3/serviceRatingValue',
 'reviewList/4/ambienceRatingValue',
 'reviewList/4/date',
 'reviewList/4/foodRatingValue',
 'reviewList/4/ratingValue',
 'reviewList/4/review',
 'reviewList/4/reviewerName',
 'reviewList/4/serviceRatingValue',
 'reviewList/5/ambienceRatingValue',
 'reviewList/5/date',
 'reviewList/5/foodRatingValue',
 'reviewList/5/ratingValue',
 'reviewList/5/review',
 'reviewList/5/reviewerName',
 'reviewList/5/serviceRatingValue',
 'reviewList/6/ambienceRatingValue',
 'reviewList/6/date',
 'reviewList/6/foodRatingValue',
 'reviewList/6/ratingValue',
 'reviewList/6/review',
 'reviewList/6/reviewerName',
 'reviewList/6/serviceRatingValue',
 'reviewList/7/ambienceRatingValue',
 'reviewList/7/date',
 'reviewList/7/foodRatingValue',
 'reviewList/7/ratingValue',
 'reviewList/7/review',
 'reviewList/7/reviewerName',
 'reviewList/7/serviceRatingValue',
 'reviewList/8/ambienceRatingValue',
 'reviewList/8/date',
 'reviewList/8/foodRatingValue',
 'reviewList/8/ratingValue',
 'reviewList/8/review',
 'reviewList/8/reviewerName',
 'reviewList/8/serviceRatingValue',
 'reviewList/9/ambienceRatingValue',
 'reviewList/9/date',
 'reviewList/9/foodRatingValue',
 'reviewList/9/ratingValue',
 'reviewList/9/review',
 'reviewList/9/reviewerName',
 'reviewList/9/serviceRatingValue',
 'reviewList/10/ambienceRatingValue',
 'reviewList/10/date',
 'reviewList/10/foodRatingValue',
 'reviewList/10/ratingValue',
 'reviewList/10/review',
 'reviewList/10/reviewerName',
 'reviewList/10/serviceRatingValue',
 'reviewList/11/ambienceRatingValue',
 'reviewList/11/date',
 'reviewList/11/foodRatingValue',
 'reviewList/11/ratingValue',
 'reviewList/11/review',
 'reviewList/11/reviewerName',
 'reviewList/11/serviceRatingValue',
 'reviewList/12/ambienceRatingValue',
 'reviewList/12/date',
 'reviewList/12/foodRatingValue',
 'reviewList/12/ratingValue',
 'reviewList/12/review',
 'reviewList/12/reviewerName',
 'reviewList/12/serviceRatingValue',
 'reviewList/13/ambienceRatingValue',
 'reviewList/13/date',
 'reviewList/13/foodRatingValue',
 'reviewList/13/ratingValue',
 'reviewList/13/review',
 'reviewList/13/reviewerName',
 'reviewList/13/serviceRatingValue',
 'reviewList/14/ambienceRatingValue',
 'reviewList/14/date',
 'reviewList/14/foodRatingValue',
 'reviewList/14/ratingValue',
 'reviewList/14/review',
 'reviewList/14/reviewerName',
 'reviewList/14/serviceRatingValue',
 'reviewList/15/ambienceRatingValue',
 'reviewList/15/date',
 'reviewList/15/foodRatingValue',
 'reviewList/15/ratingValue',
 'reviewList/15/review',
 'reviewList/15/reviewerName',
 'reviewList/15/serviceRatingValue',
 'reviewList/16/ambienceRatingValue',
 'reviewList/16/date',
 'reviewList/16/foodRatingValue',
 'reviewList/16/ratingValue',
 'reviewList/16/review',
 'reviewList/16/reviewerName',
 'reviewList/16/serviceRatingValue',
 'reviewList/17/ambienceRatingValue',
 'reviewList/17/date',
 'reviewList/17/foodRatingValue',
 'reviewList/17/ratingValue',
 'reviewList/17/review',
 'reviewList/17/reviewerName',
 'reviewList/17/serviceRatingValue',
 'reviewList/18/ambienceRatingValue',
 'reviewList/18/date',
 'reviewList/18/foodRatingValue',
 'reviewList/18/ratingValue',
 'reviewList/18/review',
 'reviewList/18/reviewerName',
 'reviewList/18/serviceRatingValue',
 'reviewList/19/ambienceRatingValue',
 'reviewList/19/date',
 'reviewList/19/foodRatingValue',
 'reviewList/19/ratingValue',
 'reviewList/19/review',
 'reviewList/19/reviewerName',
 'reviewList/19/serviceRatingValue',
 'style',
 'tags/1',
 'tags/2',
 'tags/3',
 'tags/4',
 'tags/5',
 'tags/6',
 'tags/7',
 'paymentAccepted/9',
 'paymentAccepted/10',
 'photos/91',
 'photos/92',
 'photos/93',
 'photos/94',
 'photos/95',
 'photos/96',
 'photos/97',
 'photos/98',
 'photos/99',
 'photos/100',
 'photos/101',
 'photos/102',
 'photos/103',
 'photos/104',
 'photos/105']

In [ ]:
data['offer'] = np.where(data['offer'].isnull(), 'No Offer', data['offer'])

In [ ]:
data['chefName'] = np.where(data['chefName'].isnull(), 'Not Applicable', data['chefName'])

In [ ]:
data.groupby('location')['ratingValue'].agg(['min', 'max', 'mean', 'median'])

                                  min   max      mean  median
location
Albufeira, Portugal               4.0   9.6  8.889744    9.00
Aljustrel, Portugal               8.8   8.8  8.800000    8.80
Almada, Portugal                  6.0   9.7  8.864798    9.00
Aveiro, Portugal                  6.9   9.6  8.940625    9.00
Barcelos, Portugal                8.1   9.6  8.990476    9.10
Braga, Portugal                   6.5   9.8  9.085915    9.20
Bragança, Portugal                9.2   9.6  9.400000    9.40
Caldas da Rainha, Portugal        8.1   9.7  8.776190    8.80
Cantanhede, Portugal              9.4   9.5  9.450000    9.45
Castelo Branco                    9.2   9.2  9.200000    9.20
Coimbra, Portugal                 7.0   9.7  8.952174    9.00
Covilhã, Portugal                 8.6   9.8  9.250000    9.40
Espinho, Portugal                 7.8   8.3  8.100000    8.20
Estremoz, Portugal                7.6   9.7  9.040000    9.10
Faro, Portugal                    7.5  10.0  8.989655    9.10
Figueira da Foz                   7.9   9.7  8.918182    8.80
Fundão, Portugal                  4.7   9.8  8.863636    9.10
Guarda, Portugal                  8.7   9.5  9.100000    9.10
Guimarães, Portugal               7.2   9.8  9.037143    9.20
Leiria, Portugal                  7.8   9.4  8.980952    9.10
Loulé, Portugal                   7.1   9.8  9.196429    9.30
Macedo de Cavaleiros, Portugal    8.8   8.8  8.800000    8.80
Mirandela, Portugal               8.7   9.5  8.950000    8.80
Montemor o novo, Portugal         8.8   9.7  9.400000    9.70
Moura, Portugal                   8.4   9.9  9.066667    8.90
Oeiras, Portugal                  8.0   9.6  8.950769    9.00
Portalegre, Portugal              8.7   9.2  8.914286    8.90
Portimão, Portugal                5.2   9.8  8.752941    8.90
Porto, Portugal                   6.0  10.0  9.071053    9.10
Reguengos de Monsaraz, Portugal   8.9   9.0  8.950000    8.95
Santarem, Portugal                7.9   9.8  9.070833    9.10
Seia, Portugal                    5.9   9.5  8.475000    8.80
Sertã, Portugal                   9.3   9.3  9.300000    9.30
Setúbal, Portugal                 7.7  10.0  8.997500    9.15
Sintra, Portugal                  7.2   9.9  8.929577    9.00
Viana do Castelo, Portugal        7.8   9.5  8.850000    9.10
Vila Nova de Famalicão, Portugal  8.7   9.6  9.220000    9.30
Vila Real, Portugal               8.1   9.9  9.166667    9.20
Viseu, Portugal                   8.9   9.4  9.125000    9.10
Évora, Portugal                   7.1   9.6  8.878788    9.00

In [ ]:
data['ratingValue'].describe()

count    2501.000000
mean        9.120792
std         0.546648
min         4.000000
25%         8.900000
50%         9.200000
75%         9.500000
max        10.000000
Name: ratingValue, dtype: float64

### 5. Dealing with Schedule Format

In [ ]:
def clean_openinghours(observation):
    opening_hours_dict = {}
    for day in str(observation).split('\r\n'):
        day_week = f'{day.partition("y")[0]}y'
        opening_hours_dict[day_week] = day.partition("y")[2].strip()
        if opening_hours_dict[day_week] == '-':
            opening_hours_dict[day_week] = 'Closed'
        if day_week == 'y':
            del opening_hours_dict['y']
    return opening_hours_dict

In [ ]:
data['schedule'] = data['openingHours'].apply(lambda x: clean_openinghours(x))

### 6. Exploratory Data Analysis (through Sections)

#### Photos

In [ ]:
photos = ['photo', 'customerPhotos/0','customerPhotos/1', 'customerPhotos/2', 'customerPhotos/3', 'customerPhotos/4', 'customerPhotos/5', 'customerPhotos/6',
 'customerPhotos/7', 'customerPhotos/8', 'customerPhotos/9', 'customerPhotos/10', 'customerPhotos/11', 'customerPhotos/12', 'customerPhotos/13',
 'customerPhotos/14', 'customerPhotos/15', 'customerPhotos/16', 'customerPhotos/17', 'customerPhotos/18', 'customerPhotos/19', 'photos/1',
 'photos/2', 'photos/3', 'photos/4', 'photos/5', 'photos/6', 'photos/7','photos/8','photos/9','photos/10', 'photos/11', 'photos/12', 'photos/13', 'photos/14',
 'photos/15','photos/16', 'photos/17', 'photos/18', 'photos/19', 'photos/20', 'photos/21', 'photos/22', 'photos/23', 'photos/24', 'photos/25', 'photos/26', 'photos/27',
 'photos/28', 'photos/29', 'photos/30', 'photos/31', 'photos/32', 'photos/33', 'photos/34', 'photos/35', 'photos/36', 'photos/37', 'photos/38', 'photos/39', 'photos/40',
 'photos/41', 'photos/42', 'photos/43', 'photos/44', 'photos/45', 'photos/46', 'photos/47', 'photos/48', 'photos/49', 'photos/50', 'photos/51', 'photos/52','photos/53',
 'photos/54', 'photos/55', 'photos/56', 'photos/57', 'photos/58', 'photos/59', 'photos/60', 'photos/61', 'photos/62', 'photos/63', 'photos/64', 'photos/65', 'photos/66',
 'photos/67','photos/68','photos/69', 'photos/70', 'photos/71', 'photos/72', 'photos/73', 'photos/74', 'photos/75', 'photos/76', 'photos/77', 'photos/78', 'photos/79',
 'photos/80', 'photos/81', 'photos/82', 'photos/83', 'photos/84', 'photos/85', 'photos/86', 'photos/87', 'photos/88', 'photos/89', 'photos/90',  'photos/91', 'photos/92',
 'photos/93', 'photos/94', 'photos/95', 'photos/96', 'photos/97', 'photos/98', 'photos/99', 'photos/100', 'photos/101', 'photos/102', 'photos/103', 'photos/104', 'photos/105']

In [ ]:
df_photos = data[photos].copy()

In [ ]:
df_photos['photos/1'].unique()

array(['https://res.cloudinary.com/tf-lab/image/upload/f_auto,q_auto,w_664,h_374/restaurant/0fb87f67-79d8-4ad5-bb06-6e9d668400cd/8d85bcd4-f6d9-47a3-967d-6be6f376d251.jpg',
       'https://res.cloudinary.com/tf-lab/image/upload/f_auto,q_auto,w_664,h_374/restaurant/cf797b76-9f49-4e2d-bd25-89b05d312ff3/5ffd061d-3b83-43d9-aa13-7bf39afecfd7.jpg',
       'https://res.cloudinary.com/tf-lab/image/upload/f_auto,q_auto,w_664,h_374/restaurant/25442534-4b23-40e5-91a5-2eb2da7b7a92/86b9de08-b5f8-4c6f-97c9-f8ee4dd0ad4f.jpg',
       ...,
       'https://res.cloudinary.com/tf-lab/image/upload/f_auto,q_auto,w_664,h_374/restaurant/7252fa4a-63a4-43bb-b4d5-83e3c48db045/63238949-2ad2-47e7-a812-8c4a215fbef9.jpg',
       'https://res.cloudinary.com/tf-lab/image/upload/f_auto,q_auto,w_664,h_374/restaurant/97249dc8-13a3-4473-bd9b-c9de1ada5f54/8bbb15f6-03df-4f59-8daa-73643c0b737d.jpg',
       'https://res.cloudinary.com/tf-lab/image/upload/f_auto,q_auto,w_664,h_374/restaurant/ac8c8d50-6309-4eae-bf6a-bb59fa7b9646/08cf54f9-78a4-4d57-839d-af5c2c890f25.jpg'],
      dtype=object)

#### Reviews

In [ ]:
reviews = ['reviewList/0/ambienceRatingValue','reviewList/0/date', 'reviewList/0/foodRatingValue', 'reviewList/0/ratingValue', 'reviewList/0/review',
 'reviewList/0/reviewerName', 'reviewList/0/serviceRatingValue', 'reviewList/1/ambienceRatingValue', 'reviewList/1/date', 'reviewList/1/foodRatingValue', 'reviewList/1/ratingValue',
 'reviewList/1/review', 'reviewList/1/reviewerName', 'reviewList/1/serviceRatingValue', 'reviewList/2/ambienceRatingValue', 'reviewList/2/date', 'reviewList/2/foodRatingValue',
 'reviewList/2/ratingValue', 'reviewList/2/review', 'reviewList/2/reviewerName', 'reviewList/2/serviceRatingValue', 'reviewList/3/ambienceRatingValue','reviewList/3/date',
 'reviewList/3/foodRatingValue', 'reviewList/3/ratingValue', 'reviewList/3/review', 'reviewList/3/reviewerName', 'reviewList/3/serviceRatingValue', 'reviewList/4/ambienceRatingValue',
 'reviewList/4/date','reviewList/4/foodRatingValue', 'reviewList/4/ratingValue', 'reviewList/4/review', 'reviewList/4/reviewerName', 'reviewList/4/serviceRatingValue',
 'reviewList/5/ambienceRatingValue', 'reviewList/5/date', 'reviewList/5/foodRatingValue', 'reviewList/5/ratingValue', 'reviewList/5/review', 'reviewList/5/reviewerName',
 'reviewList/5/serviceRatingValue', 'reviewList/6/ambienceRatingValue', 'reviewList/6/date', 'reviewList/6/foodRatingValue', 'reviewList/6/ratingValue', 'reviewList/6/review',
 'reviewList/6/reviewerName', 'reviewList/6/serviceRatingValue', 'reviewList/7/ambienceRatingValue', 'reviewList/7/date', 'reviewList/7/foodRatingValue', 'reviewList/7/ratingValue',
 'reviewList/7/review', 'reviewList/7/reviewerName', 'reviewList/7/serviceRatingValue', 'reviewList/8/ambienceRatingValue', 'reviewList/8/date', 'reviewList/8/foodRatingValue',
 'reviewList/8/ratingValue', 'reviewList/8/review', 'reviewList/8/reviewerName', 'reviewList/8/serviceRatingValue', 'reviewList/9/ambienceRatingValue', 'reviewList/9/date',
 'reviewList/9/foodRatingValue', 'reviewList/9/ratingValue', 'reviewList/9/review', 'reviewList/9/reviewerName', 'reviewList/9/serviceRatingValue', 'reviewList/10/ambienceRatingValue',
 'reviewList/10/date', 'reviewList/10/foodRatingValue', 'reviewList/10/ratingValue', 'reviewList/10/review', 'reviewList/10/reviewerName', 'reviewList/10/serviceRatingValue',
 'reviewList/11/ambienceRatingValue', 'reviewList/11/date', 'reviewList/11/foodRatingValue', 'reviewList/11/ratingValue', 'reviewList/11/review', 'reviewList/11/reviewerName',
 'reviewList/11/serviceRatingValue', 'reviewList/12/ambienceRatingValue', 'reviewList/12/date', 'reviewList/12/foodRatingValue', 'reviewList/12/ratingValue', 'reviewList/12/review',
 'reviewList/12/reviewerName', 'reviewList/12/serviceRatingValue', 'reviewList/13/ambienceRatingValue', 'reviewList/13/date', 'reviewList/13/foodRatingValue', 'reviewList/13/ratingValue',
 'reviewList/13/review', 'reviewList/13/reviewerName', 'reviewList/13/serviceRatingValue', 'reviewList/14/ambienceRatingValue', 'reviewList/14/date',
 'reviewList/14/foodRatingValue', 'reviewList/14/ratingValue', 'reviewList/14/review', 'reviewList/14/reviewerName', 'reviewList/14/serviceRatingValue', 'reviewList/15/ambienceRatingValue',
 'reviewList/15/date', 'reviewList/15/foodRatingValue', 'reviewList/15/ratingValue', 'reviewList/15/review', 'reviewList/15/reviewerName', 'reviewList/15/serviceRatingValue',
 'reviewList/16/ambienceRatingValue', 'reviewList/16/date', 'reviewList/16/foodRatingValue', 'reviewList/16/ratingValue', 'reviewList/16/review', 'reviewList/16/reviewerName',
 'reviewList/16/serviceRatingValue', 'reviewList/17/ambienceRatingValue', 'reviewList/17/date', 'reviewList/17/foodRatingValue', 'reviewList/17/ratingValue', 'reviewList/17/review',
 'reviewList/17/reviewerName', 'reviewList/17/serviceRatingValue', 'reviewList/18/ambienceRatingValue', 'reviewList/18/date', 'reviewList/18/foodRatingValue', 'reviewList/18/ratingValue',
 'reviewList/18/review', 'reviewList/18/reviewerName', 'reviewList/18/serviceRatingValue', 'reviewList/19/ambienceRatingValue', 'reviewList/19/date', 'reviewList/19/foodRatingValue',
 'reviewList/19/ratingValue', 'reviewList/19/review', 'reviewList/19/reviewerName', 'reviewList/19/serviceRatingValue']

In [ ]:
df_reviews = data[reviews].copy()

In [ ]:
ambience = []
food = []
service = []
for col in df_reviews.columns:
    if 'ambienceRatingValue' in col:
        ambience.append(col)
    elif 'foodRatingValue' in col:
        food.append(col)
    elif 'serviceRatingValue' in col:
        service.append(col)

In [ ]:
df_reviews['ambienceRatingSummary'] = df_reviews[ambience].mean(axis=1)
df_reviews['foodRatingSummary'] = df_reviews[food].mean(axis=1)
df_reviews['serviceRatingSummary'] = df_reviews[service].mean(axis=1)

In [ ]:
df_reviews

,reviewList/0/ambienceRatingValue,reviewList/0/date,reviewList/0/foodRatingValue,reviewList/0/ratingValue,reviewList/0/review,reviewList/0/reviewerName,reviewList/0/serviceRatingValue,reviewList/1/ambienceRatingValue,reviewList/1/date,reviewList/1/foodRatingValue,...,reviewList/19/ambienceRatingValue,reviewList/19/date,reviewList/19/foodRatingValue,reviewList/19/ratingValue,reviewList/19/review,reviewList/19/reviewerName,reviewList/19/serviceRatingValue,ambienceRatingSummary,foodRatingSummary,serviceRatingSummary
0,10.0,2023-08-08T19:30:00.000Z,10.0,10.0,"Espaço agradável, simpatia e interacção por pa...",Rui Jorge M.,10.0,10.0,2022-06-05T20:00:00.000Z,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,10.000000,10.000000
1,8.0,2023-09-23T20:30:00.000Z,2.0,3.5,ninguém gostou,Lara P.,2.0,6.0,2023-09-21T19:30:00.000Z,6.0,...,8.0,2023-08-18T12:00:00.000Z,8.0,8.0,"Very welcoming atmosphere, quick and friendly ...",Samuel C.,8.0,9.000000,9.100000,8.900000
2,10.0,2023-09-16T19:30:00.000Z,10.0,10.0,Sushi muito fresco e delicioso. Ambiente agra...,Isabel D.,10.0,8.0,2023-09-12T19:30:00.000Z,10.0,...,10.0,2023-06-30T19:30:00.000Z,10.0,10.0,Comida excelente!,Brenda A.,10.0,9.800000,10.000000,9.500000
3,8.0,2023-09-27T20:00:00.000Z,10.0,9.0,Comida excelente,Thalyta C.,8.0,10.0,2023-09-22T19:00:00.000Z,10.0,...,10.0,2023-05-04T17:30:00.000Z,10.0,10.0,Best curry in Albuferia.,Dave B.,10.0,9.000000,9.700000,9.500000
4,6.0,2023-09-01T18:30:00.000Z,10.0,8.5,Bit disappointed that what we ordered wasn't a...,Rachel B.,8.0,10.0,2023-08-28T20:00:00.000Z,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.000000,9.750000,9.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2552,8.0,2023-08-15T11:30:00.000Z,10.0,9.5,Pratos de entrada diversificado e muito bom.\n...,Nuno S.,10.0,10.0,2022-11-30T20:00:00.000Z,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.800000,9.400000,9.600000
2553,10.0,2023-07-22T19:00:00.000Z,10.0,10.0,"Amazing experience! \n\nGreat pizza, one of th...",Carlos C.,10.0,8.0,2023-07-15T19:00:00.000Z,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.818182,9.636364,9.818182
2554,10.0,2023-05-14T12:00:00.000Z,10.0,10.0,Uma muito agradável surpresa! Comida muito bem...,Nuno Ricardo F.,10.0,10.0,2020-02-24T20:30:00.000Z,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,10.000000,10.000000
2555,10.0,2023-09-28T20:30:00.000Z,10.0,9.5,Comemos bife Wellington e estava maravilhoso. ...,Diana C.,8.0,10.0,2023-09-23T18:30:00.000Z,10.0,...,8.0,2023-06-12T18:00:00.000Z,8.0,8.0,"Muito agradável, embora ainda calmo, pois foi ...",Pedro C.,8.0,9.500000,9.600000,9.700000
2556,10.0,2023-08-06T18:30:00.000Z,10.0,10.0,Comida muito boa e funcionários muito simpátic...,Rodrigo A.,10.0,10.0,2023-07-11T17:45:00.000Z,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,10.000000,9.000000

#### Payment Methods

In [ ]:
payments = ['paymentAccepted/0','paymentAccepted/1', 'paymentAccepted/2', 'paymentAccepted/3', 'paymentAccepted/4',
 'paymentAccepted/5', 'paymentAccepted/6', 'paymentAccepted/7', 'paymentAccepted/8', 'paymentAccepted/9', 'paymentAccepted/10']

In [ ]:
df_payments = data[payments].copy()

In [ ]:
df_payments.fillna(0, inplace=True)

In [ ]:
df_payments['paymentAcceptedSummary'] = df_payments.apply(lambda row: [row[col] for col in df_payments.columns if row[col] != 0], axis=1)

In [ ]:
df_payments

,paymentAccepted/0,paymentAccepted/1,paymentAccepted/2,paymentAccepted/3,paymentAccepted/4,paymentAccepted/5,paymentAccepted/6,paymentAccepted/7,paymentAccepted/8,paymentAccepted/9,paymentAccepted/10,paymentAcceptedSummary
0,Cabal Credit Card,Cabal Debit Card,0,0,0,0,0,0,0,0,0,"[Cabal Credit Card, Cabal Debit Card]"
1,Cabal Credit Card,Cabal Debit Card,Maestro Card,Mastercard,0,0,0,0,0,0,0,"[Cabal Credit Card, Cabal Debit Card, Maestro ..."
2,Cabal Credit Card,Cabal Debit Card,Visa,0,0,0,0,0,0,0,0,"[Cabal Credit Card, Cabal Debit Card, Visa]"
3,Credit Card,0,0,0,0,0,0,0,0,0,0,[Credit Card]
4,Cabal Credit Card,Cabal Debit Card,Credit Card,Maestro Card,Mastercard,Visa,Visa Electron,0,0,0,0,"[Cabal Credit Card, Cabal Debit Card, Credit C..."
...,...,...,...,...,...,...,...,...,...,...,...,...
2552,American Express,Credit Card,Mastercard,Visa Electron,0,0,0,0,0,0,0,"[American Express, Credit Card, Mastercard, Vi..."
2553,0,0,0,0,0,0,0,0,0,0,0,[]
2554,Credit Card,Mastercard,Visa,0,0,0,0,0,0,0,0,"[Credit Card, Mastercard, Visa]"
2555,Credit Card,Mastercard,Visa,0,0,0,0,0,0,0,0,"[Credit Card, Mastercard, Visa]"
2556,Cabal Credit Card,Cabal Debit Card,Credit Card,0,0,0,0,0,0,0,0,"[Cabal Credit Card, Cabal Debit Card, Credit C..."

#### Tags

In [ ]:
df_tags = data[['tags/0','tags/1', 'tags/2', 'tags/3', 'tags/4', 'tags/5', 'tags/6', 'tags/7',]].copy()
df_tags

,tags/0,tags/1,tags/2,tags/3,tags/4,tags/5,tags/6,tags/7
0,YUMS x2,International food,NaN,NaN,NaN,NaN,NaN,NaN
1,International food,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Japanese,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Indian,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Portuguese,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2552,Portuguese,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2553,Italian,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2554,Portuguese,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2555,INSIDER,Steakhouse,NaN,NaN,NaN,NaN,NaN,NaN
2556,Pizzeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### General Metrics

In [ ]:
df_workable = data[['address', 'averagePrice', 'chefName', 'cuisine', 'currency', 'description', 'hasLoyaltyProgram', 'isBookable', 'maxPartySize',
 'name', 'offer', 'schedule',  'phone', 'photo', 'ratingValue', 'reviewCount', 'style', 'latitude', 'longitude']].copy()

In [ ]:
df_workable = df_workable.join(df_reviews[['ambienceRatingSummary', 'foodRatingSummary', 'serviceRatingSummary']])
df_workable = df_workable.join(df_payments['paymentAcceptedSummary'])
df_workable = df_workable.join(locations['location2'])

In [ ]:
c = CurrencyConverter()
def to_euros(row):
    if row['currency'] != 'EUR':
        euros = c.convert(row['averagePrice'], row['currency'], 'EUR')
    else:
        euros = row['averagePrice']
    return np.round(euros, 2)

In [ ]:
df_workable['averagePriceEUR'] = df_workable.apply(to_euros, axis=1)

In [ ]:
df_workable[df_workable['currency'] != 'EUR']

,address,averagePrice,chefName,cuisine,currency,description,hasLoyaltyProgram,isBookable,maxPartySize,name,...,reviewCount,style,latitude,longitude,ambienceRatingSummary,foodRatingSummary,serviceRatingSummary,paymentAcceptedSummary,location2,averagePriceEUR
28,"7-8 Park Place\r,SW1A 1LS,London",125,William Drabble,French,GBP,NaN,True,True,60.0,Seven Park Place by William Drabble,...,177.0,Fine Dining,53.400002,-2.983333,9.100000,9.700000,9.900000,[],London,144.79
31,"21-22 Park Row,LS1 5JF,Leeds",41,Not Applicable,Steakhouse,GBP,NaN,True,True,60.0,Gaucho - Leeds,...,98.0,Design,53.400002,-2.983333,9.700000,9.400000,10.000000,"[American Express, Apple Pay, Cash Only, Credi...",Leeds,47.49
35,"142 Chiswick High Road,W4 1PU,London",81,Nathan Cornwell,British,GBP,"The Silver Birch is an independent, neighbourh...",False,True,60.0,The Silver Birch,...,70.0,After work,53.400002,-2.983333,8.800000,9.300000,9.600000,"[Apple Pay, Mastercard, MobilePay, Visa, Visa ...",London,93.82
39,"23 Euston Road,NW1 2SD,London",56,Manuele Bazzoni,Fusion,GBP,This restaurant is located within a former ban...,True,True,60.0,Magenta,...,140.0,Central location,53.400002,-2.983333,9.500000,9.300000,9.800000,"[Apple Pay, Google Pay, Mastercard, Visa, Visa...",London,64.87
42,"63 Bartholomew Close,EC1A 7BG,London",140,Johnnie Crowe,British,GBP,Team behind Nest and Fenn is bringing a 15-cou...,True,True,60.0,Restaurant St Bart's,...,21.0,Contemporary cuisine,53.400002,-2.983333,10.000000,9.666667,10.000000,"[American Express, Apple Pay, Credit Card, Mas...",London,162.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2155,"Cr de Rive 13,1204,Geneva",50,Not Applicable,Fusion,CHF,NaN,False,True,60.0,Dr Djoon - Restaurant,...,198.0,Bistronomic,53.400002,-2.983333,9.571429,9.857143,9.857143,"[Maestro Card, Mastercard, Visa]",Geneva,51.66
2159,"Regeringsgatan 111,111 39,Stockholm",250,Naturvinbar. Ingen möjlighet för barnvagn. Åld...,International,SEK,NaN,True,True,60.0,Amfora vinbar,...,3144.0,After work,53.400002,-2.983333,8.500000,9.300000,9.000000,"[American Express, Apple Pay, Cash not accepte...",Stockholm,21.54
2162,"42 Wimbledon Hill Road,SW19 7PA,London",17,Not Applicable,Japanese,GBP,NaN,False,True,NaN,The Sushi Co - Wimbledon,...,4.0,Central location,53.400002,-2.983333,10.000000,10.000000,10.000000,"[American Express, Mastercard, Visa]",London,19.69
2164,"18-20 High Road,NW10 2QD,London",13,Not Applicable,Asian,GBP,G Serves Vietnamese street food and drink insp...,False,True,NaN,G Asian Canteen,...,3.0,After work,53.400002,-2.983333,9.333333,10.000000,10.000000,"[Apple Pay, Credit Card, Maestro Card, Masterc...",London,15.06
2167,"Regeringsgatan 111A,111 39,Stockholm",350,Not Applicable,Mediterranean,SEK,Vi är en kontantfri restaurang.\nPå grund av v...,True,True,NaN,Vinmakaren,...,532.0,After work,53.400002,-2.983333,9.200000,9.100000,9.000000,"[American Express, Cash not accepted, Credit C...",Stockholm,30.16

In [ ]:
df_workable.isnull().any()

address                   False
averagePrice              False
chefName                  False
cuisine                    True
currency                  False
description                True
hasLoyaltyProgram         False
isBookable                False
maxPartySize               True
name                      False
offer                     False
schedule                  False
phone                      True
photo                     False
ratingValue                True
reviewCount                True
style                      True
latitude                  False
longitude                 False
ambienceRatingSummary      True
foodRatingSummary          True
serviceRatingSummary       True
paymentAcceptedSummary    False
location2                 False
averagePriceEUR           False
dtype: bool

### Visualizing Data

In [ ]:
df_workable['style'].unique()

array(['Bachelor party', 'After work', 'Birthday', 'Good for ceremonies',
       'All you can eat buffet', 'Good for families',
       'Contemporary cuisine', 'Author', 'Good for groups',
       'Central location', 'Fine Dining', 'Bistronomic', 'Bistro', 'Cosy',
       'Design', nan, 'Garden', 'Seminar', 'Terrace', 'Café', 'Gastropub',
       'Creative', 'Live music', 'Brunch', 'Lunch', 'Traditional',
       'Good for a business lunch', 'Homemade cuisine', 'Brasserie',
       'Oceanfront', 'Great view', 'Trendy', 'Romantic', 'Gift cards',
       'Agriturismo', 'Restaurant hotel', 'Communion', 'Breakfast',
       'Winter terrace', 'Nightlife', 'With friends', 'Street Food',
       'Organic', 'Healthy.old', 'Ethnic', 'From market', 'Wine bar'],
      dtype=object)

In [ ]:
df_workable['averagePriceEUR'].describe()

count    2557.000000
mean       36.551087
std        32.619712
min         9.000000
25%        17.000000
50%        25.000000
75%        40.000000
max       200.000000
Name: averagePriceEUR, dtype: float64

In [ ]:
import folium

m = folium.Map(location=(38.736946, -9.142685), zoom_start=7, tiles="cartodb positron")

In [ ]:
from folium.plugins import HeatMap
HeatMap(data=df_workable[['latitude', 'longitude', 'averagePriceEUR']], 
            radius=3, max_zoom=13, ).add_to(m)

m
#gradient={0.2: 'gray', 0.4: 'green', 0.6: 'pink', 0.8: 'orange', 1.0: 'red'}

In [ ]:
def check_if_open(restaurant_schedule):
    current_date = datetime.date.today()
    day_of_week = current_date.strftime("%A")
    hour_format = "%H:%M"
    current_time = datetime.datetime.now().strftime(hour_format)
    current_time = datetime.datetime.strptime(current_time, hour_format).time()


    def check_schedule(schedule):
        opening_hours = schedule[:5]
        opening_hours = datetime.datetime.strptime(opening_hours, '%H:%M').time()
        closing_hours = schedule[-5:]
        if closing_hours == '24:00':
            closing_hours = '23:59'
        closing_hours = datetime.datetime.strptime(closing_hours, '%H:%M').time()
        if  (opening_hours <= current_time) & (current_time <= closing_hours):
            return True
        else:
            return False

    if restaurant_schedule[day_of_week] == 'Closed':
         return 'Closed'
    else:
        if "," not in restaurant_schedule[day_of_week]:
            open = check_schedule(restaurant_schedule[day_of_week].strip())
            if open:
                return 'Open'
        else:
            schedule = restaurant_schedule[day_of_week].partition(',')
            open1 = check_schedule(schedule[0].strip())
            open2 = check_schedule(schedule[-1].strip())
            if open1 or open2:
                 return 'Open'
    return 'Closed'