# Exploratory Data Analysis and Cleaning

### 1. Importing Libraries and data

In [9]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
data = pd.read_csv('all_thefork_scrapes.csv', index_col=0)

C:\Users\carolinashaul\AppData\Local\Temp\ipykernel_14912\1500846325.py:1: DtypeWarning: Columns (292,300,301,302,303,304,305,306,307) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('all_thefork_scrapes.csv', index_col=0)

### 2. Summary Statistics

In [11]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
averagePrice,2415.0,4.014120e+01,4.291000e+01,9.000000e+00,1.700000e+01,2.500000e+01,4.500000e+01,3.500000e+02
latitude,2415.0,4.401005e+01,7.028186e+00,3.701935e+01,3.867652e+01,4.020331e+01,5.340000e+01,5.340000e+01
longitude,2415.0,-6.674209e+00,2.753072e+00,-9.381659e+00,-9.135404e+00,-8.247880e+00,-2.983333e+00,-2.983333e+00
maxPartySize,2112.0,5.026420e+01,2.777294e+01,4.000000e+00,3.000000e+01,6.000000e+01,6.000000e+01,3.700000e+02
phone,1464.0,2.917438e+11,1.372161e+11,3.314014e+10,3.512116e+11,3.512789e+11,3.519341e+11,4.478807e+11
...,...,...,...,...,...,...,...,...
reviewList/18/serviceRatingValue,1493.0,9.407904e+00,1.372994e+00,2.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01
reviewList/19/ambienceRatingValue,1473.0,9.156823e+00,1.447631e+00,2.000000e+00,8.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01
reviewList/19/foodRatingValue,1473.0,9.412084e+00,1.365049e+00,2.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01
reviewList/19/ratingValue,1473.0,9.355737e+00,1.174946e+00,2.000000e+00,9.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01
reviewList/19/serviceRatingValue,1473.0,9.441955e+00,1.335471e+00,2.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01

In [12]:
data.describe(include='object').T

,count,unique,top,freq
address,2415,1507,"Rua da Esperança - 42,1200-658,Lisboa",12
chefName,1197,577,Sanam Pokhrel,12
cuisine,2405,56,Portuguese,488
currency,2415,5,EUR,2164
customerPhotos/0,2298,1441,https://res.cloudinary.com/tf-lab/image/upload...,12
...,...,...,...,...
photos/101,1,1,https://res.cloudinary.com/tf-lab/image/upload...,1
photos/102,1,1,https://res.cloudinary.com/tf-lab/image/upload...,1
photos/103,1,1,https://res.cloudinary.com/tf-lab/image/upload...,1
photos/104,1,1,https://res.cloudinary.com/tf-lab/image/upload...,1
photos/105,1,1,https://res.cloudinary.com/tf-lab/image/upload...,1

### 3. Handling Locations

In [16]:
locations = data[['name','address', 'location', 'longitude', 'latitude']].copy()

In [17]:
locations['location2'] = locations['address'].map(lambda x: str(x).split(',')[-1])
locations['location3'] = locations['location'].map(lambda x: str(x).split(',')[0])

In [27]:
locations[(locations['location2']) != (locations['location3'])]

,name,address,location,longitude,latitude,location2,location3
20,Passionné,"17 Rue Bergère,75009,Paris",NaN,-2.983333,53.400002,Paris,nan
22,To Restaurant,"34 Rue Beaurepaire,75010,Paris",NaN,-2.983333,53.400002,Paris,nan
24,Le Puits du Trésor,"21 Route des 4 Châteaux,11600,Lastours",NaN,-2.983333,53.400002,Lastours,nan
25,Lienzo*,"Plaça de Tetuan, 18,46003,Valencia",NaN,-2.983333,53.400002,Valencia,nan
28,Seven Park Place by William Drabble,"7-8 Park Place\r,SW1A 1LS,London",NaN,-2.983333,53.400002,London,nan
...,...,...,...,...,...,...,...
96,RoseMar,"Via Zara, 1,30016,Lido di Jesolo",NaN,-2.983333,53.400002,Lido di Jesolo,nan
97,G Asian Canteen,"18-20 High Road,NW10 2QD,London",NaN,-2.983333,53.400002,London,nan
99,La Bicicleta,"La Pl., 12,39716,Hoznayo, Cantabria",NaN,-2.983333,53.400002,Cantabria,nan
100,Vinmakaren,"Regeringsgatan 111A,111 39,Stockholm",NaN,-2.983333,53.400002,Stockholm,nan
118,Taverna Olhos D'Água,"R. Torre da Medronheira 1,8200-650,Olhos de Água","Albufeira, Portugal",-8.247880,37.089072,Olhos de Água,Albufeira

There are a few inconsistent entries in terms of locations, as well as missing values due to not belonging to Portugal (original extraction country)

### 4. Handling Missing Values

In [38]:
null_columns = data.isnull().any()
null_columns = null_columns[null_columns].index
list(null_columns)

['chefName',
 'cuisine',
 'customerPhotos/0',
 'customerPhotos/1',
 'customerPhotos/2',
 'customerPhotos/3',
 'customerPhotos/4',
 'customerPhotos/5',
 'customerPhotos/6',
 'customerPhotos/7',
 'customerPhotos/8',
 'customerPhotos/9',
 'customerPhotos/10',
 'customerPhotos/11',
 'customerPhotos/12',
 'customerPhotos/13',
 'customerPhotos/14',
 'customerPhotos/15',
 'customerPhotos/16',
 'customerPhotos/17',
 'customerPhotos/18',
 'customerPhotos/19',
 'description',
 'location',
 'maxPartySize',
 'offer',
 'openingHours',
 'paymentAccepted/0',
 'paymentAccepted/1',
 'paymentAccepted/2',
 'paymentAccepted/3',
 'paymentAccepted/4',
 'paymentAccepted/5',
 'paymentAccepted/6',
 'paymentAccepted/7',
 'paymentAccepted/8',
 'phone',
 'photos/1',
 'photos/2',
 'photos/3',
 'photos/4',
 'photos/5',
 'photos/6',
 'photos/7',
 'photos/8',
 'photos/9',
 'photos/10',
 'photos/11',
 'photos/12',
 'photos/13',
 'photos/14',
 'photos/15',
 'photos/16',
 'photos/17',
 'photos/18',
 'photos/19',
 'photos/20',
 'photos/21',
 'photos/22',
 'photos/23',
 'photos/24',
 'photos/25',
 'photos/26',
 'photos/27',
 'photos/28',
 'photos/29',
 'photos/30',
 'photos/31',
 'photos/32',
 'photos/33',
 'photos/34',
 'photos/35',
 'photos/36',
 'photos/37',
 'photos/38',
 'photos/39',
 'photos/40',
 'photos/41',
 'photos/42',
 'photos/43',
 'photos/44',
 'photos/45',
 'photos/46',
 'photos/47',
 'photos/48',
 'photos/49',
 'photos/50',
 'photos/51',
 'photos/52',
 'photos/53',
 'photos/54',
 'photos/55',
 'photos/56',
 'photos/57',
 'photos/58',
 'photos/59',
 'photos/60',
 'photos/61',
 'photos/62',
 'photos/63',
 'photos/64',
 'photos/65',
 'photos/66',
 'photos/67',
 'photos/68',
 'photos/69',
 'photos/70',
 'photos/71',
 'photos/72',
 'photos/73',
 'photos/74',
 'photos/75',
 'photos/76',
 'photos/77',
 'photos/78',
 'photos/79',
 'photos/80',
 'photos/81',
 'photos/82',
 'photos/83',
 'photos/84',
 'photos/85',
 'photos/86',
 'photos/87',
 'photos/88',
 'photos/89',
 'photos/90',
 'ratingValue',
 'reviewCount',
 'reviewList/0/ambienceRatingValue',
 'reviewList/0/date',
 'reviewList/0/foodRatingValue',
 'reviewList/0/ratingValue',
 'reviewList/0/review',
 'reviewList/0/reviewerName',
 'reviewList/0/serviceRatingValue',
 'reviewList/1/ambienceRatingValue',
 'reviewList/1/date',
 'reviewList/1/foodRatingValue',
 'reviewList/1/ratingValue',
 'reviewList/1/review',
 'reviewList/1/reviewerName',
 'reviewList/1/serviceRatingValue',
 'reviewList/2/ambienceRatingValue',
 'reviewList/2/date',
 'reviewList/2/foodRatingValue',
 'reviewList/2/ratingValue',
 'reviewList/2/review',
 'reviewList/2/reviewerName',
 'reviewList/2/serviceRatingValue',
 'reviewList/3/ambienceRatingValue',
 'reviewList/3/date',
 'reviewList/3/foodRatingValue',
 'reviewList/3/ratingValue',
 'reviewList/3/review',
 'reviewList/3/reviewerName',
 'reviewList/3/serviceRatingValue',
 'reviewList/4/ambienceRatingValue',
 'reviewList/4/date',
 'reviewList/4/foodRatingValue',
 'reviewList/4/ratingValue',
 'reviewList/4/review',
 'reviewList/4/reviewerName',
 'reviewList/4/serviceRatingValue',
 'reviewList/5/ambienceRatingValue',
 'reviewList/5/date',
 'reviewList/5/foodRatingValue',
 'reviewList/5/ratingValue',
 'reviewList/5/review',
 'reviewList/5/reviewerName',
 'reviewList/5/serviceRatingValue',
 'reviewList/6/ambienceRatingValue',
 'reviewList/6/date',
 'reviewList/6/foodRatingValue',
 'reviewList/6/ratingValue',
 'reviewList/6/review',
 'reviewList/6/reviewerName',
 'reviewList/6/serviceRatingValue',
 'reviewList/7/ambienceRatingValue',
 'reviewList/7/date',
 'reviewList/7/foodRatingValue',
 'reviewList/7/ratingValue',
 'reviewList/7/review',
 'reviewList/7/reviewerName',
 'reviewList/7/serviceRatingValue',
 'reviewList/8/ambienceRatingValue',
 'reviewList/8/date',
 'reviewList/8/foodRatingValue',
 'reviewList/8/ratingValue',
 'reviewList/8/review',
 'reviewList/8/reviewerName',
 'reviewList/8/serviceRatingValue',
 'reviewList/9/ambienceRatingValue',
 'reviewList/9/date',
 'reviewList/9/foodRatingValue',
 'reviewList/9/ratingValue',
 'reviewList/9/review',
 'reviewList/9/reviewerName',
 'reviewList/9/serviceRatingValue',
 'reviewList/10/ambienceRatingValue',
 'reviewList/10/date',
 'reviewList/10/foodRatingValue',
 'reviewList/10/ratingValue',
 'reviewList/10/review',
 'reviewList/10/reviewerName',
 'reviewList/10/serviceRatingValue',
 'reviewList/11/ambienceRatingValue',
 'reviewList/11/date',
 'reviewList/11/foodRatingValue',
 'reviewList/11/ratingValue',
 'reviewList/11/review',
 'reviewList/11/reviewerName',
 'reviewList/11/serviceRatingValue',
 'reviewList/12/ambienceRatingValue',
 'reviewList/12/date',
 'reviewList/12/foodRatingValue',
 'reviewList/12/ratingValue',
 'reviewList/12/review',
 'reviewList/12/reviewerName',
 'reviewList/12/serviceRatingValue',
 'reviewList/13/ambienceRatingValue',
 'reviewList/13/date',
 'reviewList/13/foodRatingValue',
 'reviewList/13/ratingValue',
 'reviewList/13/review',
 'reviewList/13/reviewerName',
 'reviewList/13/serviceRatingValue',
 'reviewList/14/ambienceRatingValue',
 'reviewList/14/date',
 'reviewList/14/foodRatingValue',
 'reviewList/14/ratingValue',
 'reviewList/14/review',
 'reviewList/14/reviewerName',
 'reviewList/14/serviceRatingValue',
 'reviewList/15/ambienceRatingValue',
 'reviewList/15/date',
 'reviewList/15/foodRatingValue',
 'reviewList/15/ratingValue',
 'reviewList/15/review',
 'reviewList/15/reviewerName',
 'reviewList/15/serviceRatingValue',
 'reviewList/16/ambienceRatingValue',
 'reviewList/16/date',
 'reviewList/16/foodRatingValue',
 'reviewList/16/ratingValue',
 'reviewList/16/review',
 'reviewList/16/reviewerName',
 'reviewList/16/serviceRatingValue',
 'reviewList/17/ambienceRatingValue',
 'reviewList/17/date',
 'reviewList/17/foodRatingValue',
 'reviewList/17/ratingValue',
 'reviewList/17/review',
 'reviewList/17/reviewerName',
 'reviewList/17/serviceRatingValue',
 'reviewList/18/ambienceRatingValue',
 'reviewList/18/date',
 'reviewList/18/foodRatingValue',
 'reviewList/18/ratingValue',
 'reviewList/18/review',
 'reviewList/18/reviewerName',
 'reviewList/18/serviceRatingValue',
 'reviewList/19/ambienceRatingValue',
 'reviewList/19/date',
 'reviewList/19/foodRatingValue',
 'reviewList/19/ratingValue',
 'reviewList/19/review',
 'reviewList/19/reviewerName',
 'reviewList/19/serviceRatingValue',
 'style',
 'tags/1',
 'tags/2',
 'tags/3',
 'tags/4',
 'tags/5',
 'tags/6',
 'tags/7',
 'paymentAccepted/9',
 'paymentAccepted/10',
 'photos/91',
 'photos/92',
 'photos/93',
 'photos/94',
 'photos/95',
 'photos/96',
 'photos/97',
 'photos/98',
 'photos/99',
 'photos/100',
 'photos/101',
 'photos/102',
 'photos/103',
 'photos/104',
 'photos/105']

In [44]:
data['offer'] = np.where(data['offer'].isnull(), 'No Offer', data['offer'])

In [45]:
data['chefName'] = np.where(data['chefName'].isnull(), 'Not Applicable', data['chefName'])

In [50]:
data.groupby('location')['ratingValue'].agg(['min', 'max', 'mean', 'median'])

                            min   max      mean  median
location
Albufeira, Portugal         4.0   9.6  8.889744    9.00
Almada, Portugal            6.0   9.7  8.864798    9.00
Aveiro, Portugal            6.9   9.6  8.940625    9.00
Braga, Portugal             6.5   9.8  9.085915    9.20
Bragança, Portugal          9.2   9.6  9.400000    9.40
Caldas da Rainha, Portugal  8.1   9.7  8.776190    8.80
Castelo Branco              9.2   9.2  9.200000    9.20
Coimbra, Portugal           7.0   9.7  8.952174    9.00
Faro, Portugal              7.5  10.0  8.989655    9.10
Fundão, Portugal            4.7   9.8  8.758824    9.10
Guarda, Portugal            8.7   9.5  9.100000    9.10
Leiria, Portugal            7.8   9.4  8.980952    9.10
Loulé, Portugal             7.1   9.8  9.196429    9.30
Oeiras, Portugal            8.0   9.6  8.950769    9.00
Portalegre, Portugal        8.7   9.2  8.914286    8.90
Portimão, Portugal          5.2   9.8  8.752941    8.90
Porto, Portugal             6.0  10.0  9.071053    9.10
Santarem, Portugal          7.9   9.8  9.070833    9.10
Setúbal, Portugal           7.7  10.0  8.997500    9.15
Sintra, Portugal            7.2   9.9  8.929577    9.00
Viana do Castelo, Portugal  7.8   9.5  8.850000    9.10
Vila Real, Portugal         8.1   9.9  9.166667    9.20
Viseu, Portugal             8.9   9.4  9.125000    9.10
Évora, Portugal             7.1   9.6  8.878788    9.00

In [47]:
data['ratingValue'].describe()

count    2365.000000
mean        9.129556
std         0.542439
min         4.000000
25%         8.900000
50%         9.200000
75%         9.500000
max        10.000000
Name: ratingValue, dtype: float64

### 5. Dealing with Schedule Format

In [53]:
def clean_openinghours(observation):
    opening_hours_dict = {}
    for day in str(observation).split('\r\n'):
        day_week = f'{day.partition("y")[0]}y'
        opening_hours_dict[day_week] = day.partition("y")[2].strip()
    return opening_hours_dict

In [54]:
data['schedule'] = data['openingHours'].apply(lambda x: clean_openinghours(x))

In [57]:
data['reviewList/10/review']

0                                                    NaN
1         Staff atencioso e simpático.\nComida saborosa.
2      I went to Odessa with my family because I love...
3      Food was excellent, the sauces were amazing. B...
4                                                    NaN
                             ...
187    Platos de bacalao muy ricos. Los postres estab...
188                                                  NaN
189    Faltou música. A presença do Felipe foi excele...
190    A quiet gem in the heart of Porto! Delicious a...
191                                            Muito bom
Name: reviewList/10/review, Length: 2415, dtype: object