### 1. Importing Libraries and Data

In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#import datetime 
import datetime

#ignore warnings
import warnings
warnings.filterwarnings("ignore")

%load_ext autoreload
%autoreload 2

In [2]:
clients_data = pd.read_csv("data/clientDataClean.csv",index_col=0)

In [3]:
clients_data

,first_name,last_name,email,gender,username,date_of_birth,nationality,city,travel_car,drinks_alcohol,...,favourite_food,dislike_food,personality,preferred_payment,restaurant_style,cuisine_type,lunch_hour,dinner_hour,normal_price_range,smoker_n
0,Örjan,Douberday,wdouberday0@google.com.br,Male,mdouberday0,1961-01-17 00:12:00,Portuguese,Setúbal,False,False,...,arroz de pato,sopa de tomate,mindful,MBWay,familiar,seafood,13:00 - 14:00,19:00 - 20:00,13.0,False
1,Céline,Milmo,lmilmo1@naver.com,Male,lmilmo1,1986-01-02 00:11:00,Portuguese,Setúbal,True,False,...,cheesecake,bitoque,mindful,Cash,after work,portuguese,13:00 - 14:00,21:00 - 22:00,15.0,False
2,Bérénice,McCaughey,jmccaughey2@blogs.com,Male,kmccaughey2,1991-01-10 00:05:00,Portuguese,Porto,True,True,...,pasta,arroz de pato,foodie,Credit Card,after work,mediterranean,12 :00 - 13:00,18 :00 - 19:00,13.0,False
3,Gaëlle,O'Hickey,gohickey3@biblegateway.com,Male,kohickey3,1974-01-21 00:10:00,Portuguese,Coimbra,False,True,...,filetes de pescada,ceviche,foodie,MBWay,after work,portuguese,13:00 - 14:00,20:00 - 21:00,26.0,False
4,Yáo,O'Sheilds,aosheilds4@pbs.org,Female,hosheilds4,1969-01-05 00:01:00,Portuguese,Leiria,False,True,...,tacos,salada de frutas,social,MBWay,homemade,meat cuisine,13:00 - 14:00,19:00 - 20:00,20.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,Vérane,Rayner,mraynerro@icio.us,Male,braynerro,1977-01-06 00:04:00,Portuguese,Castelo Branco,False,False,...,bacalhau a gomes de sa,pasta,social,MBWay,homemade,mediterranean,14:00 - 15:00,19:00 - 20:00,20.0,False
997,Jú,Boyd,rboydrp@github.com,Male,sboydrp,1970-01-16 00:09:00,Portuguese,Faro,True,False,...,pimentos,croissant,comfort,Credit Card,traditional,mediterranean,12 :00 - 13:00,19:00 - 20:00,13.0,False
998,Françoise,Laudham,blaudhamrq@squarespace.com,Female,hlaudhamrq,1962-01-18 00:03:00,Portuguese,Porto,False,True,...,bacalhau à zé do pipo,filetes de pescada,comfort,MBWay,view,international,13:00 - 14:00,19:00 - 20:00,26.0,False
999,Andréa,Sinyard,csinyardrr@disqus.com,Male,fsinyardrr,1986-01-09 00:01:00,Portuguese,Lisbon,True,True,...,bacalhau a bras,lasanha,foodie,Cash,fine dining,pizzeria,12 :00 - 13:00,19:00 - 20:00,13.0,False
1000,Carolina,Shaul,carols@gmail.com,Female,shaulleo,03/02/2003,Portuguese,Lisbon,False,True,...,salmão,favas,adventurous,Credit Card,familiar,italian,13:00 - 14:00,21:00 - 22:00,15.0,True

In [4]:
clients_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1001 entries, 0 to 1000
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   first_name            1001 non-null   object
 1   last_name             1001 non-null   object
 2   email                 1001 non-null   object
 3   gender                1001 non-null   object
 4   username              1001 non-null   object
 5   date_of_birth         1001 non-null   object
 6   nationality           1001 non-null   object
 7   city                  1001 non-null   object
 8   travel_car            1001 non-null   bool
 9   drinks_alcohol        1001 non-null   bool
 10  dietary_restrictions  1001 non-null   object
 11  allergies             1001 non-null   object
 12  favourite_food        983 non-null    object
 13  dislike_food          980 non-null    object
 14  personality           1001 non-null   object
 15  preferred_payment     1001 non-null   object
 16  restaurant_style      1001 non-null   object
 17  cuisine_type          892 non-null    object
 18  lunch_hour            1001 non-null   object
 19  dinner_hour           1001 non-null   object
 20  normal_price_range    1001 non-null   float64
 21  smoker_n              1001 non-null   bool
dtypes: bool(3), float64(1), object(18)
memory usage: 159.3+ KB

In [5]:
clients_data.isna().sum()

first_name                0
last_name                 0
email                     0
gender                    0
username                  0
date_of_birth             0
nationality               0
city                      0
travel_car                0
drinks_alcohol            0
dietary_restrictions      0
allergies                 0
favourite_food           18
dislike_food             21
personality               0
preferred_payment         0
restaurant_style          0
cuisine_type            109
lunch_hour                0
dinner_hour               0
normal_price_range        0
smoker_n                  0
dtype: int64

### 2. Pre-processing and Feature Engengineering

In [6]:
#normal price as integer
clients_data['normal_price_range'] = clients_data['normal_price_range'].astype(int)

In [7]:
#lunch and dinner hour as integer
clients_data['lunch_hour'] = clients_data['lunch_hour'].str.extract(r'(\d{2})').astype(int)
clients_data['dinner_hour'] = clients_data['dinner_hour'].str.extract(r'(\d{2})').astype(int)

In [8]:
#alterar input nossas observações
clients_data.drop(1000, inplace=True)



#Calculating Age
current_date = datetime.date.today()

clients_data['date_of_birth'] = pd.to_datetime(clients_data['date_of_birth'], format='%Y-%m-%d %H:%M:%S')
clients_data['date_of_birth'] = clients_data['date_of_birth'].dt.date

clients_data['age'] = ((current_date - clients_data['date_of_birth'])/ pd.Timedelta(days=365)).astype(int)

In [9]:
#Encoding gender
clients_data = pd.get_dummies(clients_data, columns=['gender'], prefix='gender')
clients_data.drop('gender_Female', axis=1, inplace=True)

# Transform boolean outputs into binary
clients_data['gender_Male'] = clients_data['gender_Male'].astype(int)
clients_data['gender_Other'] = clients_data['gender_Other'].astype(int)

In [10]:
# Transform 'smoker_n' into binary
clients_data['smoker_n'] = clients_data['smoker_n'].astype(int)

In [11]:
# Transform 'travel_car' into binary
clients_data['travel_car'] = clients_data['travel_car'].astype(int)

In [12]:
# Transform 'drinks_alcohol' into binary
clients_data['drinks_alcohol'] = clients_data['drinks_alcohol'].astype(int)

In [13]:
#Encoding gender dietary_restrictions
clients_data = pd.get_dummies(clients_data, columns=['dietary_restrictions'])
clients_data.drop('dietary_restrictions_none', axis=1, inplace=True)

# Transform boolean outputs into binary
clients_data['dietary_restrictions_vegan'] = clients_data['dietary_restrictions_vegan'].astype(int)
clients_data['dietary_restrictions_vegetarian'] = clients_data['dietary_restrictions_vegetarian'].astype(int)

In [14]:
def has_allergies(allergies):
    if allergies == "none":
        return 0
    else:
        return 1

In [15]:
#Transform 'allergies' to binary (0 - No allergies, 1 - Has allergies)
clients_data['allergies'] = clients_data['allergies'].apply(has_allergies)

In [16]:
clients_data['allergies'].value_counts()

allergies
0    899
1    101
Name: count, dtype: int64

### 3. Feature Selection

In [17]:
clients_data.columns

Index(['first_name', 'last_name', 'email', 'username', 'date_of_birth',
       'nationality', 'city', 'travel_car', 'drinks_alcohol', 'allergies',
       'favourite_food', 'dislike_food', 'personality', 'preferred_payment',
       'restaurant_style', 'cuisine_type', 'lunch_hour', 'dinner_hour',
       'normal_price_range', 'smoker_n', 'age', 'gender_Male', 'gender_Other',
       'dietary_restrictions_vegan', 'dietary_restrictions_vegetarian'],
      dtype='object')

In [18]:
clients_data.drop(['first_name','last_name','username', 'email','date_of_birth'], axis=1, inplace=True)

In [21]:
clients_data.head()

,nationality,city,travel_car,drinks_alcohol,allergies,favourite_food,dislike_food,personality,preferred_payment,restaurant_style,cuisine_type,lunch_hour,dinner_hour,normal_price_range,smoker_n,age,gender_Male,gender_Other,dietary_restrictions_vegan,dietary_restrictions_vegetarian
0,Portuguese,Setúbal,0,0,0,arroz de pato,sopa de tomate,mindful,MBWay,familiar,seafood,13,19,13,0,62,1,0,0,0
1,Portuguese,Setúbal,1,0,0,cheesecake,bitoque,mindful,Cash,after work,portuguese,13,21,15,0,37,1,0,0,0
2,Portuguese,Porto,1,1,0,pasta,arroz de pato,foodie,Credit Card,after work,mediterranean,12,18,13,0,32,1,0,0,0
3,Portuguese,Coimbra,0,1,0,filetes de pescada,ceviche,foodie,MBWay,after work,portuguese,13,20,26,0,49,1,0,0,0
4,Portuguese,Leiria,0,1,0,tacos,salada de frutas,social,MBWay,homemade,meat cuisine,13,19,20,0,54,0,0,1,0


nationality
city
favourite_food - missing values
dislike_food - missing values
preferred_payment
restaurant_style
cuisine_type - missing values

### 4. Split in training and test set